<!DOCTYPE html>
<html class="no-js">
    <head>
    <meta charset="UTF-8" />
    {% block metas %}{% endblock %}
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <title>{% block title %}{{AppName}}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" type="image/x-icon" href="{{ asset(AppFavicon) }}" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ asset('css/jquery.fileupload-ui.css') }}">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/ancap-th-reset.css') }}">  <!--CSS ANCAP THEME -->
    <link rel="stylesheet" href="{{ asset('css/ancap-theme.css') }}"> <!--CSS ANCAP THEME -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/modernizr.js') }}"></script> <!--CSS PARA ANCAP THEME -->
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/JSLINQ.js') }}"></script>
    <script src="{{ asset('js/ancap-theme.js') }}"></script>
        {#
        <style>
            .cd-footer-class {
                height: {% if app.environment|slice(app.environment|length - 3, 3) == 'dev' %}76px;{% else %}auto{% endif %};
            }
        </style>
        #}
    </head>
    <body>
    <header>
        {% set usuario = app.session.get(AppName ~ '_nombre') %}
        <span id="cd-logo">
            <img src="{{ asset(AppFavicon) }}" height="22" width="22" style="vertical-align: middle;">
            <span style="vertical-align: middle;">
                {% block titulo %}<b>{{AppName}}</b> <small>{{AppVersion}}</small>{% endblock %}
            </span>
        </span>
        <nav id="cd-top-nav">
            <ul>
                <li><a href="{{ path('fc_index') }}"><span class="glyphicon glyphicon-home"></span> <span class="hidden-xs">Inicio</span></a></li>
                <li><a href="{{ path('fc_logout') }}"><span class="glyphicon glyphicon-off"></span> <span class="hidden-xs">Salir</span></a></li>
            </ul>
        </nav>
        <a id="cd-menu-trigger" hidden class="cd-menu-visible cd-menu-cursor"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
        <a id="cd-menu-trigger-bigscreen" hidden class="cd-menu-visible-bigscreen cd-menu-cursor is-clicked"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
    </header>
    {{ include('FCMainBundle:Default:flashmessage.html.twig') }}
    {% block body %}{% endblock %}
        <footer class="clearfix{# cd-footer-class #}">
        {#<img src="{{ asset(AppLogoFC) }}" height="22" width="inherit" style="vertical-align: middle; margin-left: 15px;">#}
        <span class="cd-span-foo"><b>{{AppName}}</b> <small>{{AppVersion}}</small>{% if usuario is defined%} | <i class="fa fa-user"></i>: {{ usuario }} {% endif %} <span id="browserAlert" style="display:none;"> | <img src="{{ asset('img/cr-icon.png') }}" height="10" width="10" style="display:inline"> Google Chrome es el navegador recomendado. <a href="https://www.google.com/chrome/" target="_blank">Descarga Chrome</a></span></span>
        <div class="pull-right">{% block controls %}{% endblock %} </div>
    </footer>
    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>