{% extends 'FCMainBundle::main_base.html.twig' %}
{% block metas %}
	{% block metas2 %}
	{% endblock %}
{% endblock %}
{% block stylesheets %}
	{% block stylesheets2 %}
	{% endblock %}
{% endblock %}
{% block body %}
		{% block body2 %}
		{% endblock %} 
{% endblock %}
{% block javascripts %} 
	{% block javascripts2 %}
	{% endblock %}
{% endblock %}
