{% block body2 %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                {% for index, Campo in Parametros.Campos %}
                    <th {% if index == 0 %}width="90px"{% endif %} {% if Campo.Visible != true %}hidden{% endif %}>
                        {% if Campo.Relation.EntityAlias is defined and Campo.Relation.EntityAlias!='' %}
                            {% if Campo.Sortable %}{{ knp_pagination_sortable(pagination, Campo.Caption, Campo.Relation.EntityAlias ~'.'~ Campo.FieldName)}}{% else %}{{ Campo.Caption }}{% endif %}
                        {% else %}
                            {% if Campo.Sortable %}{{ knp_pagination_sortable(pagination, Campo.Caption, Parametros.EntityAlias ~'.'~ Campo.FieldName)}}{% else %}{{ Campo.Caption }}{% endif %}
                        {% endif %}
                    </th>
                {% endfor %}
                {% if Parametros.addActions is defined %}
                    <th width="90px">Acciones</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                <tr data-provides="rowlink">
                    {% for index, Campo in Parametros.Campos %}
                        {% if index == 0 %}
                            <a
                                {% if Parametros.PathShow is defined %}
                                    {% set Editable = true %}
                                    {% if Parametros.IDRegistrosNoModificables is defined %}
                                        {% for idLocked in Parametros.IDRegistrosNoModificables %}
                                            {% if attribute(entity, Parametros.Campos.0.FieldAlias) == idLocked %}
                                                {% set Editable = false %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% set cadena = {} %}
                                    {% for Args in Parametros.PathShow.ArgumentsArray %}
                                        {% if ((Args.2) is defined) %}
                                            {% set cadena = cadena|merge({(Args.0): (Args.2)}) %}
                                        {% else %}
                                            {% set cadena = cadena|merge({(Args.0): attribute(entity, Args.1)}) %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not Editable %} disabled href="#" {% else %} href="{{ path(Parametros.PathShow.Path, cadena)}}" {% endif %}
                                {% else %}
                                    href="#"
                                {% endif %}
                                class="rowlink"></a>
                            <td {% if Campo.Visible != true %}hidden{% endif %}>
                                <a
                                    {% if Parametros.PathShow is defined %}
                                        {% set Editable = true %}
                                        {% if Parametros.IDRegistrosNoModificables is defined %}
                                            {% for idLocked in Parametros.IDRegistrosNoModificables %}
                                                {% if attribute(entity, Parametros.Campos.0.FieldAlias) == idLocked %}
                                                    {% set Editable = false %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% set cadena = {} %}
                                        {% for Args in Parametros.PathShow.ArgumentsArray %}
                                            {% if ((Args.2) is defined) %}
                                                {% set cadena = cadena|merge({(Args.0): (Args.2)}) %}
                                            {% else %}
                                                {% set cadena = cadena|merge({(Args.0): attribute(entity, Args.1)}) %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if not Editable %} disabled href="#" {% else %} href="{{ path(Parametros.PathShow.Path, cadena)}}" {% endif %}
                                    {% else %}
                                        href="#"
                                    {% endif %}
                                ><strong>{{ attribute(entity, Campo.FieldAlias) }}</strong></a>
                            </td>
                        {% else %}
                            <td {% if Campo.Visible != true %}hidden{% endif %}>
                                {% if attribute(entity, Campo.FieldAlias).timestamp is defined %}
                                    {{ attribute(entity, Campo.FieldAlias)|date("d/m/Y") }}
                                {% else %}
                                    {{ attribute(entity, Campo.FieldAlias) }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                    {% if Parametros.addActions is defined %}
                        <td class="nolink text-center" style="margin: 0px auto; text-align: center; padding: 3px;">
                            {% for index, Campo in Parametros.addActions %}
                                {% if Campo.Security %}
                                    {% set Editable = true %}
                                    {% if Parametros.IDRegistrosNoModificables is defined %}
                                        {% for idLocked in Parametros.IDRegistrosNoModificables %}
                                            {% if attribute(entity, Parametros.Campos.0.FieldAlias) == idLocked %}
                                                {% set Editable = false %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% set cadena = {} %}
                                    {% for Args in Campo.ArgumentsArray %}
                                        {% if ((Args.2) is defined) %}
                                            {% set cadena = cadena|merge({(Args.0): (Args.2)}) %}
                                        {% else %}
                                            {% set cadena = cadena|merge({(Args.0): attribute(entity, Args.1)}) %}
                                        {% endif %}
                                    {% endfor %}
                                    <a class="btn btn-default btn-xs {{ Campo.StyleClass }}" {% if not Editable %}disabled href="#"{% else %}href="{{ path(Campo.Path, cadena) }}"{% endif %}><span class="glyphicon {{ Campo.Icon }}" alt="{{ Campo.Caption }}" title="{{ Campo.Caption }}"></span></a>
                                {% else %}
                                    <a disabled class="btn btn-default btn-xs {{ Campo.StyleClass }}" href="#"><span class="glyphicon {{ Campo.Icon }}" alt="{{ Campo.Caption }}" title="{{ Campo.Caption }}"></span></a>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#
    <div class="navigation text-right">
        {{knp_pagination_render(pagination, 'FCMainBundle:Pagination:pagination.html.twig', {}, {'alignment': 'center'})}}
    </div>
    #}
    <div class="count">
        Cantidad de Registros: {{ pagination.getTotalItemCount }}
    </div>

    <div id="confirmModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación de Eliminación</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>Está seguro que desea eliminar el registro?</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success js-btn-confirm">Aceptar</a>
                    <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts2 %}
    <script src="{{ asset('js/bootstrap-rowlink.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('tbody.rowlink').rowlink();
        });

        $(document).on('click', '.btn-delete', function(e) {
            e.preventDefault();
            $(".js-btn-confirm").attr('href', $(this).attr('href'));
            $('#confirmModal').modal('show');
        });

        $('#confirmModal').on('shown.bs.modal', function(e) {
            $(".js-btn-confirm").focus();
        });

        $(".js-btn-confirm").click(function() {
            $('#confirmModal').modal('hide');
        });
    </script>
{% endblock%}