﻿{% block body2 %}
    <div class="row">
        <div class="col-md-6">
            <button id="MostrarFiltros" class="btn btn-default marg-bot">
                <span class="glyphicon glyphicon-search"></span> Filtros de Busqueda
            </button>
        </div>
        <div class="col-md-6 navigation text-right">
            {{ knp_pagination_render(pagination, 'FCMainBundle:Pagination:pagination.html.twig', {}, {'alignment': 'center'}) }}
        </div>
    </div>
    {% set filtrosOn = false %}
    <div id="PanelDeFiltros" class="panel panel-default" style="display: none;">
        <div class="panel-body panel-body-filter">
            <div class="row">
                {% set cadena = {} %}
                {% for Args in Parametros.PathIndex.ArgumentsArray %}
                    {% if ((Args.2) is defined) %}
                        {% set cadena = cadena|merge({(Args.0): (Args.2)}) %}
                    {% endif %}
                {% endfor %}
                <form id="ListadosSimplesForm" class="form-search" style="margin: 0px" method="post" action="{{ path(Parametros.PathIndex.Path, cadena)}}">
                    {% if Parametros.Filtros is defined %}
                        {% for Campo in Parametros.Filtros %}
                            {% if Campo.Condition is defined or Campo.ConditionTo is defined %}
                                {% if Campo.Condition != '' or Campo.ConditionTo != '' %}
                                    {% set filtrosOn = true %}
                                {% endif %}
                            {% endif %}
                            <div class="searchSet col-md-2 col-xs-12">
                                <label class="control-label"><small>{{ Campo.Caption }}</small></label>
                                {% if Campo.EntityLoaded is null %}
                                    {% if Campo.TypeFilter == constant('FC\\MainBundle\\Servicios\\ListadosTypesFilterEnum::tFromTo') %}
                                        <input
                                                id="{{ Campo.FieldName }}"
                                                name="{{ Campo.FieldName }}"
                                                type="text"
                                                class="input-sm form-control{% if Campo.AutoPost is defined %}{% if Campo.AutoPost %} AutoPost {% endif %}{% endif %}"
                                                value="{{ Campo.Condition }}"
                                                placeholder="{{ Campo.PlaceHolder }}"
                                                >
                                        <input
                                                id="{{ Campo.FieldName }}To"
                                                name="{{ Campo.FieldName }}To"
                                                type="text"
                                                class="input-sm form-control{% if Campo.AutoPost is defined %}{% if Campo.AutoPost %} AutoPost {% endif %}{% endif %}"
                                                value="{{ Campo.ConditionTo }}"
                                                placeholder="{{ Campo.PlaceHolder }}"
                                                >
                                    {% elseif Campo.TypeFilter == constant('FC\\MainBundle\\Servicios\\ListadosTypesFilterEnum::tUnique') or Campo.TypeFilter == constant('FC\\MainBundle\\Servicios\\ListadosTypesFilterEnum::tLike') %}
                                        <input
                                                id="{{ Campo.FieldName }}"
                                                name="{{ Campo.FieldName }}"
                                                type="text"
                                                class="input-sm form-control{% if Campo.AutoPost is defined %}{% if Campo.AutoPost %} AutoPost {% endif %}{% endif %}"
                                                value="{{ Campo.Condition }}"
                                                placeholder="{{ Campo.PlaceHolder }}"
                                                >

                                    {% endif %}
                                {% else %}
                                    {% if Campo.TypeFilter == constant('FC\\MainBundle\\Servicios\\ListadosTypesFilterEnum::tMultiSelect') %}
                                        <br>
                                        <select
                                                id="{{ Campo.FieldName }}[]"
                                                name="{{ Campo.FieldName }}[]"
                                                multiple="multiple"
                                                class="filtroSelect input-sm form-control {% if Campo.AutoPost is defined %}{% if Campo.AutoPost %} SeleccionMultipleAutoPost {% else %} SeleccionMultiple {% endif %}{% else %} SeleccionMultiple {% endif %}"
                                        >
                                            {% for Item in Campo.EntityLoaded %}
                                                <option value="{{ Item.Id }}" {% if "'" ~ Item.Id ~ "'" in Campo.Condition %} selected {% endif %}>{{ Item.Des }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select
                                                id="{{ Campo.FieldName }}"
                                                name="{{ Campo.FieldName }}"
                                                class="filtroSelect input-sm form-control{% if Campo.AutoPost is defined %}{% if Campo.AutoPost %} AutoPost {% endif %}{% endif %}"
                                        >
                                            <option value="">{{ Campo.PlaceHolder }}</option>
                                            {% for Item in Campo.EntityLoaded %}
                                                <option value="{{ Item.Id }}" {% if Item.Id == Campo.Condition %} selected {% endif %}>{{ Item.Des }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="panel-footer panel-footer-filter text-right">
            <button type="submit" form="ListadosSimplesForm" class="btn btn-primary btn-xs">Filtrar</button>
            {% if filtrosOn == true %}
                <button type="submit" form="filtroClear" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span> Limpiar Filtro</button>
                {% set cadena = {} %}
                {% for Args in Parametros.PathIndex.ArgumentsArray %}
                    {% if ((Args.2) is defined) %}
                        {% set cadena = cadena|merge({(Args.0): (Args.2)}) %}
                    {% endif %}
                {% endfor %}
                <form id="filtroClear" method="post" action="{{ path(Parametros.PathIndex.Path, cadena)}}">
                    <input id="clear" type="hidden" name="clear" value="true">
                </form>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            {% if filtrosOn == false %}
                $("#PanelDeFiltros").hide();
            {% else %}
                $("#PanelDeFiltros").show();
            {% endif %}
            $("#MostrarFiltros").click(function() {
                $("#PanelDeFiltros").slideToggle();
            });
            $("#idreporte").click(function() {
                $("#fecha").val('');
            });
            {% if Parametros.Filtros is defined %}
                {% for Campo in Parametros.Filtros %}
                    {% if Campo.PlaceHolder|upper in ['DD/MM/AAAA'] %}
                        $('#{{ Campo.FieldName }}').attr('readonly', 'readonly');
                        $('#{{ Campo.FieldName }}').datepicker({format: 'dd/mm/yyyy'});
                        {% if Campo.TypeFilter == constant('FC\\MainBundle\\Servicios\\ListadosTypesFilterEnum::tFromTo') %}
                            $('#{{ Campo.FieldName }}To').attr('readonly', 'readonly');
                            $('#{{ Campo.FieldName }}To').datepicker({format: 'dd/mm/yyyy'});
                        {% endif %}
                    {% elseif Campo.PlaceHolder|upper == 'HH:MM' %}
                        $('#{{ Field.Name }}').datetimepicker({
                            dateFormat: '',
                            timeFormat: 'hh:mm'
                        });
                    {% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}

{% block stylesheets2 %}
    <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-multiselect.css') }}" type="text/css">
{% endblock %}
{% block javascripts2 %}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $(".SeleccionMultiple").multiselect({
                buttonWidth: '100%',
                maxHeight: 400,
                numberDisplayed: 1,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Filtrar opciones...',
                filterBehavior: 'text', // possible options: 'text', 'value', 'both'
                nonSelectedText: 'Opciones de filtro',
                nSelectedText: 'seleccionados',
                selectAllText: 'Seleccionar todos',
                allSelectedText: 'Todos seleccionados',
                includeSelectAllOption: true,
                selectAllJustVisible: false
            });
            $(".SeleccionMultipleAutoPost").multiselect({
                buttonWidth: '100%',
                maxHeight: 400,
                numberDisplayed: 1,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: 'Filtrar opciones...',
                filterBehavior: 'text', // possible options: 'text', 'value', 'both'
                nonSelectedText: 'Opciones de filtro',
                nSelectedText: 'seleccionados',
                selectAllText: 'Seleccionar todos',
                allSelectedText: 'Todos seleccionados',
                includeSelectAllOption: true,
                selectAllJustVisible: false,
                onDropdownShow: function() {
                    mbChange = false;
                },
                onChange: function() {
                    mbChange = true;
                },
                onDropdownHide: function() {
                    if (mbChange == true) {
                        $("#ListadosSimplesForm").submit();
                    }
                }
            });
            $(".AutoPost").on('change', function(){
                $("#ListadosSimplesForm").submit();
            });
        });
    </script>
{% endblock%}