{% if modulo is defined %}
    {% set path_dinamico = 'FC' ~ modulo|capitalize ~'Bundle::modulo_' ~ modulo ~ '.html.twig' %}
{% elseif app.request.get('modulo') %}
    {% set modulo = app.request.get('modulo') %}
    {% set path_dinamico = 'FC' ~ modulo|capitalize ~'Bundle::modulo_' ~ modulo ~ '.html.twig' %}
{% else %}
    {% set bundle_name = app.request.attributes.get('_controller') | split('\\') %}
    {% set twig_name = app.request.getPathInfo | split('/') %}

    {% set path_dinamico = 'FC' ~ bundle_name.1 ~'::modulo_' ~ twig_name.1 ~ '.html.twig' %}
{% endif %}

{% extends path_dinamico %}

{%block titulo%}
    {{Parametros.Title}}
{%endblock%}

{% block controls %}
    {% if Parametros.addHeaderActions is defined %}
        {% for index, Campo in Parametros.addHeaderActions %}
            {% set cadena = {} %}
            {% for Args in Campo.ArgumentsArray %}
                {% if ((Args.2) is defined) %}
                    {% set cadena = cadena|merge({(Args.0): (Args.2)}) %}
                {% endif %}
            {% endfor %}
            <a {% if Campo.Security==false %}disabled{% endif %} class="btn2 btn2-primary {{ Campo.StyleClass }}" href="{{ path(Campo.Path, cadena) }}">
                <span class="glyphicon {{ Campo.Icon }}" alt="{{ Campo.Caption }}"></span> {{ Campo.Caption }}
            </a>
        {% endfor %}
    {% endif %}
    <form method="post" id="formExportar" action="{{ path('fc_listadosexporta') }}" class="pull-left">
        <input type="hidden" name="Parametros" value="{{ Parametros|json_encode }}">
        <button type="submit" form="formExportar" class="btn2 btn2-warning" title="Exportar a Excel">
            <span class="fa fa-file-excel-o" alt="Exportar"></span> Exportar
        </button>
    </form>
{% endblock %}

{% block body2 %}
    {{ include('FCMainBundle:ListadosSimples:bloquefiltros.html.twig') }}
    {{ include('FCMainBundle:ListadosSimples:bloquegrilla.html.twig') }}
{% endblock %}