<div class="bs-docs-example2" id="div-gal{{idGaleria}}">
    <div class="bs-docs-example-tit">{% if tipoFormato == constant('FC\\MainBundle\\Constantes\\FileTypesEnum::Archivos') %} Archivos {% else %} Imagenes {% endif %}</div>
    <div class="bs-docs-example-ext">
        {% if tipoFormato == constant('FC\\MainBundle\\Constantes\\FileTypesEnum::Archivos') %}
            <small class="grey">Permitidos | </small><span class="label label-primary label-sm">Todos los Archivos (*.*)</span>
        {% else %}
            <small class="grey">Permitidos | </small><span class="label label-primary label-sm">jpg</span> <span class="label label-primary label-sm">png</span> <span class="label label-primary label-sm">gif</span>
        {% endif %}
    </div>

    <div id="archivos{{idGaleria}}" class="marg-top">
        <center id="campoArchivo{{idGaleria}}"><input class="files{{idGaleria}}" type="file" name="archivos{{idGaleria}}[1]" id="file{{idGaleria}}1" data-contador="1"></center>
        <hr>
        <div class="row">
            <div class="col-md-12" id="listedit{{idGaleria}}">
                {% if Archivos %}
                    {% if tipoFormato == constant('FC\\MainBundle\\Constantes\\FileTypesEnum::Imagenes') %}
                        {% for Archivo in Archivos %}
                            <span>
                                <div class="img-thumbnail img-thumb-gal" id="thumbDB{{idGaleria}}{{ Archivo.id }}">
                                    <a href="#myModal{{idGaleria}}" data-toggle="modal" data-img-url="{{ asset(Archivo.path ~ Archivo.name) }}" class="a-modal">
                                        <img style="width: inherit; height: 140px;" src="{{ asset(Archivo.path ~ Archivo.name) }}" />
                                    </a>
                                    <div class="btn-gal">
                                        <span data-id="{{ Archivo.id }}" data-name="{{ Archivo.name }}" class="btn btn-danger btn-xs btn-borrar{{idGaleria}}">
                                            <span class="glyphicon glyphicon-remove-circle"></span> Borrar
                                        </span>
                                    </div>
                                </div>
                            </span>
                        {% endfor %}
                    {% else %}
                        {% for Archivo in Archivos %}
                            <span>
                                <div class="img-thumbnail text-center file-thumb-gal" id="thumbDB{{idGaleria}}{{ Archivo.id }}" title="{{ Archivo.name }}">
                                    <a href="{{ asset(Archivo.path ~ Archivo.name) }}" style="cursor: pointer; cursor: hand;"><span class="glyphicon glyphicon-file">
                                        <span class="extension">{{ Archivo.extension }}</span>
                                    </span></a>
                                    <a href="{{ asset(Archivo.path ~ Archivo.name) }}" class="file-thumb-name">{{ Archivo.name|slice(0, 20) }}</a>
                                    <div class="btn-gal btn-group">
                                        <a href="{{ asset(Archivo.path ~ Archivo.name) }}" class="btn btn-primary btn-xs">
                                            <span class="glyphicon glyphicon-download"></span>
                                        </a>
                                        <span data-id="{{ Archivo.id }}" data-name="{{ Archivo.name }}" class="btn btn-danger btn-xs btn-borrar{{idGaleria}}">
                                            <span class="glyphicon glyphicon-remove-circle"></span> Borrar
                                        </span>
                                    </div>
                                </div>
                            </span>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div style="width:200px; margin: 0 auto;" class="alert alert-info">No existen archivos subidos</div>
                {% endif %}
            </div>
        </div>
    </div>
    <input type="hidden" name="borrarId{{idGaleria}}[0]" value="0"/>
    <input type="hidden" name="borrarArchivo{{idGaleria}}[0]" value="0"/>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal{{idGaleria}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Vista Previa</h4>
            </div>
            <div class="modal-body">
                <img id="modal-img{{idGaleria}}" src="#" class="img-rounded marg-top" data-dismiss="modal" style="cursor: pointer; width:100%; height:inherit;"/>
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="confirm{{idGaleria}}Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminación de Archivos</h4>
            </div>
            <div class="modal-body">
                <p>
                    <label>Está seguro que desea eliminar el archivo?</label>
                    <input type="hidden" id="confirm{{idGaleria}}IdArchivo"/>
                    <input type="hidden" id="confirm{{idGaleria}}NameArchivo"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-btn-confirm{{idGaleria}}">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="confirm2{{idGaleria}}Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminación de Archivos</h4>
            </div>
            <div class="modal-body">
                <p>
                    <label>Está seguro que desea eliminar el archivo?</label>
                    <input type="hidden" id="confirm2{{idGaleria}}IdArchivo"/>
                    <input type="hidden" id="confirm2{{idGaleria}}NameArchivo"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success js-btn-confirm2{{idGaleria}}">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '.btn-borrar{{idGaleria}}', function(){
        $("#confirm{{idGaleria}}IdArchivo").val($(this).data('id'));
        $("#confirm{{idGaleria}}NameArchivo").val($(this).data('name'));
        $('#confirm{{idGaleria}}Modal').modal('show');
    });

    $('#confirm{{idGaleria}}Modal').on('shown.bs.modal', function () {
        $(".js-btn-confirm{{idGaleria}}").focus();
    });

    $(".js-btn-confirm{{idGaleria}}").click(function (e) {
        idArchivo = $("#confirm{{idGaleria}}IdArchivo").val();
        Name = $("#confirm{{idGaleria}}NameArchivo").val();
        $('#confirm{{idGaleria}}Modal').modal('hide');
        hidden = '<input type="hidden" name="borrarId{{idGaleria}}['+idArchivo+']" value="'+idArchivo+'" />';
        hidden += '<input type="hidden" name="borrarArchivo{{idGaleria}}['+idArchivo+']" value="'+Name+'" />';
        $('#thumbDB{{idGaleria}}'+idArchivo).remove();
        $('#div-gal{{idGaleria}}').append(hidden);
    });

    $(document).on('click', '.btn-borrar2{{idGaleria}}', function(){
        $("#confirm2{{idGaleria}}IdArchivo").val($(this).attr('data-id'));
        $('#confirm2{{idGaleria}}Modal').modal('show');
    });

    $('#confirm2{{idGaleria}}Modal').on('shown.bs.modal', function () {
        $(".js-btn-confirm2{{idGaleria}}").focus();
    });

    $(".js-btn-confirm2{{idGaleria}}").click(function (e) {
        idArchivo = $("#confirm2{{idGaleria}}IdArchivo").val();
        $('#confirm2{{idGaleria}}Modal').modal('hide');
        $('#file{{idGaleria}}'+idArchivo).remove();
        $('#thumb{{idGaleria}}'+idArchivo).remove();
    });

    //Cuando detecta un cambio del input, limpia los previews y los vuelve a crear
    $(document).on('change', '.files{{idGaleria}}', function (e) {
        contadorArchivos = $(this).data('contador');
        handleFileSelect{{idGaleria}}(e, contadorArchivos);
        contadorArchivos++;
        archivo = '<input id="file{{idGaleria}}'+contadorArchivos+'" class="files{{idGaleria}}" type="file" name="archivos{{idGaleria}}['+contadorArchivos+']" data-contador="'+contadorArchivos+'" >';
        $(this).addClass('hideArchivo');
        $('#campoArchivo{{idGaleria}}').append(archivo);
    });

    //Manda la imagen correspondiente al Modal.
    $(document).on('click' , ".a-modal", function () {
        $('#modal-img{{idGaleria}}').attr('src', $(this).attr('data-img-url'));
    } );

    //Funcion para generar los preview temporales antes de subir
    function handleFileSelect{{idGaleria}}(evt, contadorArchivos) {
        var files = evt.target.files;
        for (var i = 0, f; f = files[i]; i++)
        {
            var reader = new FileReader();
            reader.onload = (function(theFile)
            {
                return function(e) {
                    var tipo = obtenerTipo{{idGaleria}}(theFile.name);
                    var span = document.createElement('span');
                    if (tipo == 'image') {
                        span.innerHTML = ['<div class="img-thumbnail img-thumb-gal" id="thumb{{idGaleria}}'+contadorArchivos+'"><a href="#myModal{{idGaleria}}" data-toggle="modal" data-img-url="', e.target.result,'" class="a-modal"><img style="width: inherit; height: 140px;" src="', e.target.result,'" /></a><div class="btn-gal btn-group"><span data-id="'+contadorArchivos+'" class="btn btn-danger btn-xs btn-borrar2{{idGaleria}}"><span class="glyphicon glyphicon-remove-circle"></span> Borrar</span></div></div>'].join('');
                    } else if (tipo == 'fail') {
                        alert('La selección contiene archivos no permitidos.');
                        {# clearInput{{idGaleria}}();#}
                    } else {
                        previadenombre = theFile.name.replace(' ', '_');
                        previadenombre = escape(previadenombre).replace('%20', '_').substring(0, 20);
                        span.innerHTML = ['<div class="img-thumbnail text-center file-thumb-gal" id="thumb{{idGaleria}}'+contadorArchivos+'"><span class="glyphicon glyphicon-file"><span class="extension">', tipo ,'</span></span><span class="file-thumb-name">', previadenombre,'</span><div class="btn-gal btn-group"><span data-id="'+contadorArchivos+'" class="btn btn-danger btn-xs btn-borrar2{{idGaleria}}"><span class="glyphicon glyphicon-remove-circle"></span> Borrar</span></div></div>'].join('');
                    }
                    document.getElementById('listedit{{idGaleria}}').insertBefore(span, null);
                };
            })(f);
            reader.readAsDataURL(f);
        }
    }
    //Devuelve el grupo o tipo de archivo que corresponde
    function obtenerTipo{{idGaleria}}(file) {
        var extension = file.substr( (file.lastIndexOf('.') +1) );
        {% if tipoFormato == constant('FC\\MainBundle\\Constantes\\FileTypesEnum::Imagenes') %}
        switch(extension.toLowerCase()) {
            case 'jpg':
            case 'png':
            case 'gif':
                return 'image';
            default:
                return 'fail';
        }
        {% elseif tipoFormato == constant('FC\\MainBundle\\Constantes\\FileTypesEnum::Archivos') %}
        return extension.toLowerCase().substr(0,4);
        {% else %}
        return 'fail';
        {% endif %}
    }
</script>