<script type="text/javascript">
    var loadValues{{ uniqid }} = false;
    $("#{{ attribute(_context, 'Button'~uniqid) }}").on('click', function(e){
        e.preventDefault();
        if (loadValues{{ uniqid }} == false) {
            $.post('{{ path('fc_capturassimples') }}', {
                    Entity{{ uniqid }}: '{{ attribute(_context, 'Entity'~uniqid) }}',
                    Fields{{ uniqid }}: '{{ attribute(_context, 'Fields'~uniqid)|json_encode()|raw }}',
                    Where{{ uniqid }}: '{{ attribute(_context, 'Where'~uniqid) }}',
                    Query{{ uniqid }}: "{{ attribute(_context, 'Query'~uniqid) | raw}}",
                    uniqid: '{{ uniqid }}'
                    }, function (response) {
                        if (response.success{{ uniqid }}) {
                            var filas = '';
                            if(response.success{{ uniqid }}.length == 0){
                                filas += "<tr><td colspan='{{ attribute(_context, 'Fields'~uniqid) | length }}' class='text-center'>No se encontraron registros.</td></tr>";
                            }else {
                                for (var i = 0; i < response.success{{ uniqid }}.length; i++) {
                                    {% for Campo in attribute(_context, 'Fields'~uniqid) %}
                                        filas += "{% if loop.first %}<tr class='tr-selected{{ uniqid }}' data-id='" + response.success{{ uniqid }}[i].{{ Campo.1 }} + "'>{% endif %}";
                                        filas += "<td>" + (response.success{{ uniqid }}[i].{{ Campo.1 }} != null ? response.success{{ uniqid }}[i].{{ Campo.1 }} : "") + "</td>";
                                    {% endfor %}
                                    filas += "</tr>";
                                }
                            }
                            $('#tbody{{ uniqid }}').append(filas);
                        }
                        $('#capturaModal{{ uniqid }}').modal('show');
                    }, 'json'
            );
            loadValues{{ uniqid }} = true;
        } else {
            $('#capturaModal{{ uniqid }}').modal('show');
        }
    });
</script>
<div id="{{ uniqid }}">
    <div id="capturaModal{{ uniqid }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ attribute(_context, 'Title'~uniqid) }}</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input id="filterinput{{ uniqid }}" type="text" class="form-control" placeholder="Buscar..">
                        <span class="input-group-addon"><i id="btnfilterinput{{ uniqid }}" class="fa fa-pencil"></i></span>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table id="lista{{ uniqid }}" class="table table-striped table-hover table-bordered" style="display: block; max-height: 360px; overflow-y: scroll;">
                            <thead>
                            <tr>
                                {% for Campo in attribute(_context, 'Fields'~uniqid) %}
                                    <th style="background-color: #C9C9C9">{{ Campo.0 }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody id="tbody{{ uniqid }}">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#capturaModal{{ uniqid }}').on('shown.bs.modal', function (e) {
            $("#filterinput{{ uniqid }}").focus();
        });

        $(document).on('click', ".tr-selected{{ uniqid }}", function(){
            {% if attribute(_context, 'CleanInput'~uniqid) is defined %}
                {% for Campo in attribute(_context, 'CleanInput'~uniqid) %}
                    if ($("input[name='{{ Campo }}']").is("input")) {
                        $("input[name='{{ Campo }}']").val('');
                    } else if ($("#{{ Campo }}").is("input")) {
                        $("#{{ Campo }}").val('');
                    } else if ($("select[name='{{ Campo }}']").is("select")) {
                        $("select[name='{{ Campo }}']").val($("select[name='{{ Campo }}'] option:first").val());
                    } else if ($("#{{ Campo }}").is("select")) {
                        $("#{{ Campo }}").val($("#{{ Campo }} option:first").val());
                    }
                {% endfor %}
            {% endif %}
            {% if attribute(_context, 'Input'~uniqid) is not null %}
            if ($("input[name='{{ attribute(_context, 'Input'~uniqid) }}']").is("input")) {
                $("input[name='{{ attribute(_context, 'Input'~uniqid) }}']").val($(this).attr('data-id'));
                $('#capturaModal{{ uniqid }}').modal('hide');
                $("input[name='{{ attribute(_context, 'Input'~uniqid) }}']").focus();
            } else if ($("#{{ attribute(_context, 'Input'~uniqid) }}").is("input")) {
                $("#{{ attribute(_context, 'Input'~uniqid) }}").val($(this).attr('data-id'));
                $('#capturaModal{{ uniqid }}').modal('hide');
                $("#{{ attribute(_context, 'Input'~uniqid) }}").focus();
            }
            {% else %}
            $('#capturaModal{{ uniqid }}').modal('hide');
            window.{{ attribute(_context, 'Trigger'~uniqid) }}($(this).attr('data-id'));
            {% endif %}
        });

        $("#filterinput{{ uniqid }}").on("keydown", function() {
            $("#btnfilterinput{{ uniqid }}").addClass('fa-spinner fa-spin');
        });

        $("#filterinput{{ uniqid }}").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#lista{{ uniqid }} tr").each(function(index) {
                if (index !== 0) {
                    var id = $(this).find("td").text().toLowerCase();
                    if (value) {
                        if (id.indexOf(value) < 0) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        }
                    } else {
                        $(this).show();
                    }
                }
            });
            $("#btnfilterinput{{ uniqid }}").removeClass('fa-spinner fa-spin');
        });

        $("#filterinput{{ uniqid }}").on("blur", function() {
            $("#btnfilterinput{{ uniqid }}").removeClass('fa-spinner fa-spin');
        });
    </script>
</div>
