{% set modulo = 'finansys' %}
<div class="tit-lateral-nav" style="{{ constant('FC\\FinansysBundle\\FCFinansysBundle::MenuColor') }}">
    <i class="{{ constant('FC\\FinansysBundle\\FCFinansysBundle::MenuIcon') }}"></i> {{ constant('FC\\FinansysBundle\\FCFinansysBundle::MenuTitle') }}
</div>
<ul class="cd-navigation">
    <li><a href="{{ path('transacciones_seleccioncuenta') }}" style="font-weight: bold;"><i class="glyphicon glyphicon-tasks"></i>  CUENTAS</a></li>
    <li class="item-has-children">
        <a href="#" class="submenu-open">Transacciones</a>
        <ul class="sub-menu" style="display:block;">
            {{ render(controller('FCFinansysBundle:Default:renderMenu')) }}
        </ul>
    </li>
    <li class="item-has-children">
        <a href="#" class="submenu-open">Ajustes</a>
        <ul class="sub-menu" style="display:block;">
            <li><a href="{{ path('maestrossimples', { 'tableName': 'cuentas', 'modulo': modulo, 'moduloAlias': modulo}) }}"><i class="glyphicon glyphicon-tags"></i> Cuentas</a></li>
            <li><a href="{{ path('maestrossimples', { 'tableName': 'categorias_gastos', 'modulo': modulo, 'moduloAlias': modulo}) }}"><i class="glyphicon glyphicon-dashboard"></i> Categorias Gastos</a></li>
            <li><a href="{{ path('maestrossimples', { 'tableName': 'categorias_ingresos', 'modulo': modulo, 'moduloAlias': modulo}) }}"><i class="glyphicon glyphicon-dashboard"></i> Categorias Ingresos</a></li>
            {#
            <li><a href="{{ path('maestrossimples', { 'tableName': 'categorias_transferencias', 'modulo': modulo, 'moduloAlias': modulo}) }}"><i class="fa fa-angle-right"></i> Categorias Transferencias</a></li>
            #}
        </ul>
    </li>
</ul>

