{% extends 'FCMainBundle::main_base.html.twig' %}
{% block metas %}
    {% block metas2 %}
    {% endblock %}
{% endblock %}
{% block stylesheets %}
    {% block stylesheets2 %}
    {% endblock %}
{% endblock %}
{% block menuicon %}
	<a id="cd-menu-trigger" href="#0" class="cd-menu-visible"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
{% endblock %}
{% block body %}

	<div class="cd-main-content">
        <div class="container-fluid">
			{% block body2 %}
			{% endblock %} 
		</div>
    </div> <!-- cd-main-content -->
    <footer class="clearfix">
		<span class="cd-span-foo hidden-xs"><b>{{AppName}}</b> <small>{{AppVersion}}</small>{% if usuario is defined%} | <i class="fa fa-user"></i>: {{ usuario }} {% endif %} <span id="browserAlert" style="display:none;"> | <img src="{{ asset('img/cr-icon.png') }}" height="10" width="10" style="display:inline"> Google Chrome es el navegador recomendado. <a href="https://www.google.com/chrome/" target="_blank">Descarga Chrome</a></span></span>
		<div class="pull-right">{% block controls %}{% endblock %} </div>
	</footer>
    <nav id="cd-lateral-nav">
		{{ include('FCFinansysBundle::menu.html.twig') }}
	</nav>

{% endblock %} 
{% block javascripts %} 
	{% block javascripts2 %} 
	{% endblock %}
{% endblock %}
