{% extends 'FCFinansysBundle::modulo_finansys.html.twig' %}
{% block titulo %}
    {% if idtipo==1 %}
        {% if entity %}Modificando{%else%}Nuevo{% endif %} Gasto
    {% elseif idtipo==2 %}
        {% if entity %}Modificando{%else%}Nuevo{% endif %} Ingreso
    {% elseif idtipo==3 %}
        {% if entity %}Modificando{%else%}Nueva{% endif %} Transferencia
    {% endif %}
{%endblock%}
{% block controls %}
    <button type="submit" form="mainform" class="btn2 btn2-primary">
        <span class="glyphicon glyphicon-ok-circle" alt="Guardar"></span> Guardar
    </button>
    <a class="btn2 btn2-danger confirm-js"
       href="{{ path('transacciones_delete', {'idcuenta': idcuenta, 'idtipo': idtipo, 'id': id}) }}"
       {% if entity %}{{ entity.id }}{% else %}disabled{% endif %}>
        <span class="glyphicon glyphicon-remove-circle" alt="Eliminar"></span> Eliminar
    </a>
    <a class="btn2 btn2-default" onclick="window.history.back()">
        <span class="glyphicon glyphicon-ban-circle" alt="Cancelar"></span> Cancelar
    </a>
{% endblock %}
{% block body2 %}
    <form
            action="{{ path('transacciones_create_update', {'idcuenta': idcuenta, 'idtipo': idtipo}) }}"
            method="post"
            id="mainform">
        <input type="hidden" name="id" value="{% if entity %}{% if entity.id %}{{ entity.id }}{% endif %}{% endif %}" />
        <div class="info-rep">
            <div class="row">
                <div class="col-md-12">Operación Nº: {% if entity %}{{ entity.id }}{% else %}&lt;Nuevo&gt;{% endif %}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="bs-docs-example3">
                    <div class="bs-docs-example-tit2">
                        {% if idtipo==1 %}
                            Gasto
                        {% elseif idtipo==2 %}
                            Ingreso
                        {% elseif idtipo==3 %}
                            Transferencia
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Fecha</label>
                                <div class='input-group date' id='fecha'>
                                    <input autofocus name="fecha" value="{%if entity %}{%if entity.fecha %}{{ entity.fecha | date("d-m-Y")}}{% else %}{{ "now"|date("d-m-Y") }}{% endif %}{% endif %}" type='text' class="form-control" data-format="DD-MM-YYYY" placeholder="DD/MM/YYYY" required/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="min-width: 140px;">
                            <label>Hora</label>
                            <div class="form-group">
                                <div class='input-group time' id='hora'>
                                    <input name="hora" value="{%if entity %}{%if entity.fecha %}{{ entity.fecha | date("H:i")}}{% else %}{{ "now"|date("H:i") }}{% endif %}{% endif %}" type='text' class="form-control" data-format="HH:mm" placeholder="HH:mm" required/>
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if idtipo==3 %}
                        {% if cuentas is defined %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Cuenta Origen</label>
                                        <select class="form-control idcuentaorigen" name="idcuentaorigen" required>
                                            <option selected value="">Seleccione</option>
                                            {% for cuenta in cuentas %}
                                                <option {% if entity %}{% if entity.idcuentaorigen %}{% if cuenta.id == entity.idcuentaorigen %} selected {% endif %}{% endif %}{% else %}{% if cuenta.id == idcuenta %}selected{% endif %}{% endif %} value="{{cuenta.id}}" data-descripcion="{{cuenta.nombre}}" >{{cuenta.nombre}}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Cuenta Destino</label>
                                        <select class="form-control idcuentadestino" name="idcuentadestino" required>
                                            <option selected value="">Seleccione</option>
                                            {% for cuenta in cuentas %}
                                                <option {% if entity %}{% if entity.idcuentadestino %}{% if cuenta.id == entity.idcuentadestino %} selected {% endif %}{% endif %}{% endif %} value="{{cuenta.id}}" data-descripcion="{{cuenta.nombre}}" >{{cuenta.nombre}}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="idcuentaorigen" value="{% if entity %}{% if entity.idcuentaorigen %}{{ entity.idcuentaorigen }}{% else %}{{ idcuenta }}{% endif %}{% else %}{{ idcuenta }}{% endif %}">
                            </div>
                        </div>
                        {#
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="idcuentadestino" value="{% if entity %}{% if entity.idcuentadestino %}{{ entity.idcuentadestino }}{% endif %}{% endif %}">
                            </div>
                        </div>
                        #}
                    {% endif %}
                    {% if categorias is defined %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Categoría</label>
                                    <select class="form-control idcategoria" name="idcategoria" required>
                                        <option selected value="">Seleccione</option>
                                        {% for categoria in categorias %}
                                            <option {% if entity %}{% if entity.idcategoria %}{% if categoria.id == entity.idcategoria %} selected {% endif %}{% endif %}{% else %}{% if categoria.id == 0 %}selected{% endif %}{% endif %} value="{{categoria.id}}" data-descripcion="{{categoria.nombre}}" >{{categoria.nombre}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Descripción</label>
                                <input name="descripcion" type="text" class="form-control" value="{% if entity %}{% if entity.descripcion %}{{ entity.descripcion }}{% endif %}{% endif %}" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Importe</label>
                                <input name="importe" type="number" step="0.01" class="form-control" value="{% if entity %}{% if entity.importe %}{{ entity.importe }}{% endif %}{% endif %}" required/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block stylesheets2 %}
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block javascripts2 %}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#fecha').datetimepicker({
                pickDate: true,
                pickTime: false
            });
            $('#hora').datetimepicker({
                pickDate: false,
                pickTime: true
            });
        });
    </script>
{% endblock %}