<div class="bs-docs-example2" id="div-gal{{idGaleria}}">
    <div class="bs-docs-example-tit">{% if tipoFormato == 'archivo' %} Archivos {% else %} Imagenes {% endif %}</div>
    <div class="bs-docs-example-ext">{% if tipoFormato == 'archivo' %}<small class="grey">Permitidos | </small><span class="label label-primary label-sm">jpg</span> <span class="label label-primary label-sm">png</span> <span class="label label-primary label-sm">gif</span> <span class="label label-primary label-sm">zip</span>  <span class="label label-primary label-sm">rar</span> <span class="label label-primary label-sm">pdf</span> <span class="label label-primary label-sm">txt</span> <span class="label label-primary label-sm">office</span> {% else %}<small class="grey">Permitidos | </small><span class="label label-primary label-sm">jpg</span> <span class="label label-primary label-sm">png</span> <span class="label label-primary label-sm">gif</span>{% endif %}</div>
    <form method="post" id="form{{idGaleria}}" action="{{ path('fc_ajax_archivos_agregar') }}" target="uploadframe{{idGaleria}}" enctype="multipart/form-data">
        <input type="hidden" name="idReporte" value="{{idReporte}}"/> 
        <input type="hidden" name="tipoFormato" value="{{tipoFormato}}"/> 
        <input type="hidden" name="tipoReporte" value="{{tipoReporte}}"/> 
        <input type="hidden" name="idObservacion" value="{% if idObservacion is defined %}{{idObservacion}}{% endif %}"/> 
        <div id="archivos{{idGaleria}}" class="marg-top">
        {% if activada %}
            <center><input id="files{{idGaleria}}" type="file" name="archivos[]" multiple></center>
            <div id="list{{idGaleria}}" class="marg-top"></div>        
            <div class="btn-group marg-top disp-none" id="controls{{idGaleria}}">
                <span class="btn btn-success"  id="agregarArchivos{{idGaleria}}">
                    <span class="glyphicon glyphicon-upload"></span> Subir</span>
                <span class="btn btn-danger" id="clear-files{{idGaleria}}">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </span>
            </div>        
            <hr>
        {% endif %}        
            <div class="row">
                <div class="col-md-12" id="listedit{{idGaleria}}"></div>
            </div>
        </div>
    </form>
    <!-- Iframe para submit - Ajax no permite el post de archivos -->
    <iframe name="uploadframe{{idGaleria}}" id="uploadframe{{idGaleria}}"  class="disp-none"></iframe>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal{{idGaleria}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-photo">
      <div class="modal-body">
        <div class="text-right"><button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button></div>
        <img src="#" width="100%" height="inherit" class="marg-top" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

    //Cuando el iframe cargo los datos recarga la galeria
    $('#uploadframe{{idGaleria}}').load(function(){
      recargarArchivos{{idGaleria}}();
    });

    //Inicia la carga de archivos obtenida del JSON: ver recargarArchivos()
    $( document ).ready(function() {
      recargarArchivos{{idGaleria}}();
    });

    //Hace un submit del formulario con name formIdGaleria y sus archivos para agregarlos
    $(document).on('click','#agregarArchivos{{idGaleria}}', function () {
        $("#form{{idGaleria}}").submit();
        clearInput{{idGaleria}}();
    });  
    
    //Borra el archivo seleccionado    
    $(document).on('click', '#btn-borrar{{idGaleria}}', function(){ 
        if(confirm('Está seguro que desea borrar el archivo?')){
            idArchivo = $(this).attr('data-id');            
            borrarArchivos{{idGaleria}}(idArchivo);
        }
    });

    //Cuando detecta un cambio del input, limpia los previews y los vuelve a crear
    $(document).on('change', '#files{{idGaleria}}', function (e) {
        $('#list{{idGaleria}}').html("");
        if($(this).val() == ""){
            $("#controls{{idGaleria}}").addClass('disp-none');
        }
        else{
            $("#controls{{idGaleria}}").removeClass('disp-none');
        }        
        handleFileSelect{{idGaleria}}(e);            
    });     

    //Al cancelar la subida, se eliminan los preview
    $(document).on('click', '#clear-files{{idGaleria}}', function () {
        clearInput{{idGaleria}}();
    });

    //Manda la imagen correspondiente al Modal.
    $(document).on('click' , ".a-modal", function () {
        $('#myModal img').attr('src', $(this).attr('data-img-url'));
    } );

    //Clona el input ya que html5 no deja vaciar el input tipo file
    function clearInput{{idGaleria}}() {
        $('#files{{idGaleria}}').replaceWith($('#files{{idGaleria}}').val('').clone(true));
        $("#controls{{idGaleria}}").addClass('disp-none');
        $('#list{{idGaleria}}').html("");
    };

    //Funcion para generar los preview temporales antes de subir
    function handleFileSelect{{idGaleria}}(evt) {
        var files = evt.target.files;
        for (var i = 0, f; f = files[i]; i++) 
        {
          var reader = new FileReader();
          reader.onload = (function(theFile) 
          {
            return function(e) {
              var tipo = obtenerTipo{{idGaleria}}(theFile.name);
              var span = document.createElement('span');
              if (tipo == "image") {
                span.innerHTML = ['<div class="img-thumbnail img-thumb-gal"><img class="img-thumb-tmp" src="', e.target.result,
                                '" title="', escape(theFile.name), '"/></div>'].join('');
              } else if (tipo == "fail") {
                alert('La selección contiene archivos no permitidos.');
                 clearInput{{idGaleria}}();
              } else {
                span.innerHTML = ['<div class="img-thumbnail text-center file-thumb-tmp"><span class="glyphicon glyphicon-file"><span class="extension">', tipo ,'</span></span></div>'].join('');
              }
              document.getElementById('list{{idGaleria}}').insertBefore(span, null);
            };
          })(f);
          reader.readAsDataURL(f);
        }
      }

    //Lista los archivos del JSON devuelto por la funcion de AJAX
    function recargarArchivos{{idGaleria}}(){
      $.get('{{urlListarArchivos}}?idReporte={{idReporte}}&tipoFormato={{tipoFormato}}&tipoReporte={{tipoReporte}}{% if idObservacion is defined %}&idObservacion={{idObservacion}}{% endif %}', 
            function(response){
                $("#listedit{{idGaleria}}").text('');                                              
                if(response==null)
                {
                    $("#listedit{{idGaleria}}").html('<div class="text-center img-gal"><div style="width:200px; margin: 0 auto;" class="alert alert-info">No existen archivos</div></div>');
                }
                else
                {  
                    htmlListado="";
                    $.each( response, function( key, value ) { 
                            fileName = value;
                            tipo = obtenerTipo{{idGaleria}}(fileName);
                            src = '{{ asset('upload') }}/'+ value;
                            if (tipo == 'image') 
                            {
                                htmlListado = htmlListado + '<div class="img-thumbnail img-thumb-gal"><a href="#myModal{{idGaleria}}" data-toggle="modal" data-img-url="'+ src +'" class="a-modal"><img style="width: inherit; height: 140px;" src="'+ src +'" /></a><div class="btn-gal"><span data-id="'+key+'" class="btn btn-danger btn-xs" id="btn-borrar{{idGaleria}}"><span class="glyphicon glyphicon-remove-circle"></span> Borrar</span></div></div>';
                            }
                            else
                            {

                                if(fileName.length>16){fileName = fileName.substring(0, 16)+'...';}
                                htmlListado = htmlListado + '<div class="img-thumbnail text-center file-thumb-gal"><span class="glyphicon glyphicon-file"><span class="extension">'+ tipo +'</span></span><a href="'+ src +'" class="file-thumb-name">'+fileName+'</a><div class="btn-gal btn-group"><a href="'+ src +'" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-download"></span></a><span data-id="'+key+'" class="btn btn-danger btn-xs" id="btn-borrar{{idGaleria}}"><span class="glyphicon glyphicon-remove-circle"></span> Borrar</span></div></div>';
                            };
                    });
                  
                    //$('#message').hide().html("You clicked on a checkbox.").fadeIn('slow');
                    $("#listedit{{idGaleria}}").hide().html(htmlListado).fadeIn('slow');;
                }
            }, "json");                
    }

    //Borra el archivo con Id solicitado
    function borrarArchivos{{idGaleria}}(idArchivo){        
        $.get('{{urlBorrarArchivo}}?idReporte={{idReporte}}&tipoFormato={{tipoFormato}}&tipoReporte={{tipoReporte}}{% if idObservacion is defined %}&idObservacion={{idObservacion}}{% endif %}&idArchivo='+idArchivo, 
        function(response){                                     
                if(response.success==false){
                  $("#files{{idGaleria}}").append('Error en borrar la archivo ' + nombre);
                }
                recargarArchivos{{idGaleria}}();
        }, "json");
   
    }

    //Devuelve el grupo o tipo de archivo que corresponde
    function obtenerTipo{{idGaleria}}(file) {
            var extension = file.substr( (file.lastIndexOf('.') +1) );
            switch(extension.toLowerCase()) {
                case 'jpg':
                case 'png':
                case 'gif':
                    return 'image';
                break;
                {% if tipoFormato == 'archivo' %}                        
                case 'zip':
                case 'rar':
                    return 'zip';
                break;
                case 'pdf':
                    return 'pdf';
                break;
                case 'txt':
                case 'rtf':
                    return 'txt';
                break;
                case 'doc':
                case 'docx':
                case 'xls':
                case 'xlsx':
                case 'ppt':
                case 'pptx':
                    return extension.toLowerCase().substr(0,3);
                break;
                {% endif %}
                default:
                    return 'fail';
            }
        }

</script>