{% for label, flashes in app.session.flashbag.all %}
    {% for message in flashes %}
        <div>
            <a data-dismiss="alert" aria-hidden="true" style="cursor:pointer;text-decoration:none;">
                <div class="alert alert-{% if label == 'notice' %}success{% else %}{{ label }}{% endif %} alert-dismissable flashmessage">
                    {% if label == 'notice' %}
                    {% elseif label == 'info' %}
                        <span class="glyphicon glyphicon-info-sign"></span>
                    {% elseif label == 'warning' %}
                        <span class="glyphicon glyphicon-warning-sign"></span>
                    {% elseif label == 'danger' %}
                        <span class="glyphicon glyphicon-question-sign"></span>
                    {% elseif label == 'success' %}
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    {% endif %}
                    {{ message|trim }}
                </div>
            </a>
        </div>
    {% endfor %}
{% endfor %}