{% extends 'FCMainBundle::modulo_base.html.twig' %}
{% block body %}
    <div class="cd-main-content container inicio-grid">
        <div class="container-fluid">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand">Módulos del Sistema</a>
                </div>
            </nav>
            {% if modulos is defined %}
                {% for index, campo in modulos %}
                    <div class="col-md-3 col-xs-6 col-sm-4 marg-top">
                        <a href="{{ path('fc_index') }}{{ campo.MenuPath }}" class="btn3" {% if campo.MenuEnabled %}style="{{ campo.MenuColor }}"{% else %}style="background-color: #9a9a9a; color: #fff;" disabled{% endif %}>
                            <span class="btn3-icon"><i class="{{ campo.MenuIcon }}"></i></span>
                            <span><strong>{{ campo.MenuTitle }}</strong></span>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $("footer.clearfix:first").addClass('footer-full');
        });
    </script>
{% endblock %}
{% block stylesheets2 %}
    <style type="text/css">
        #cd-menu-trigger {
            display: none !important;
        }
        #cd-menu-trigger-bigscreen {
            display: none !important;
        }
    </style>
{% endblock %}
