<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Pragma" content="no-cache" />
        <title>{% block title %}{{AppName}}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="{{ asset(AppFavicon) }}" />
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ asset('css/styles.css') }}" rel="stylesheet">
		<link href="{{ asset('css/signin.css') }}" rel="stylesheet" media="screen">
		<!-- Le styles -->
		<style type="text/css">
		body {
			padding-top: 40px;
			padding-bottom: 40px;
			background-color: #f5f5f5;
		}
		</style>
	</head>
<body>

	<div class="container">
		<form method="post" class="form-signin"
			action="{{ path('fc_login') }}">
			<div class="text-center div-login">
				<img src="{{ asset(AppFavicon) }}">
			</div>
			<input type="text" class="form-control" name="usuario" value="" placeholder="Usuario" autofocus>{# OJO!!! - NO MODIFICAR name, NI placeholder #}
			<input type="password" class="form-control" name="clave" value="" placeholder="Contraseña">{# OJO!!! - NO MODIFICAR name, NI placeholder #}
			<input type="hidden" value="{% if pathOrigen is defined %}{{pathOrigen}}{% elseif app.request.get('pathOrigen') is defined %}{{app.request.get('pathOrigen')}}{% endif %}" name="pathOrigen" />
			<input type="hidden" value="{% if id is defined %}{{id}}{% endif %}" name="id" />
			<button class="btn btn-lg btn-primary btn-block" data-loading-text="Iniciando sesion..." type="submit">Iniciar Sesión</button>
			<div class="marg-top text-right"><a href="#" data-toggle="modal" data-target="#myModal">Cambiar contraseña</a></div>
			{% if error is defined %}
				<div class="alert alert-danger"
					style="margin-top: 15px; margin-bottom: 0px;">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{% if error is defined %}
					<h4>Usuario o clave incorrecto</h4>
					{% endif %} Por favor vuelva a ingresar los datos
				</div>
			{% endif %}
			{% if success is defined %}
				<div class="alert alert-success"
					style="margin-top: 15px; margin-bottom: 0px;">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{% if success is defined %}
					<h4>Contraseña modificada</h4>
					{% endif %}El cambio de clave se realizo con éxito.
				</div>
			{% endif %}
		</form>
	</div>

	<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Cambiar Contraseña</h4>
                </div>
                <div class="modal-body">
	                <form id="resetpass" action="{{ path('fc_resetpass') }}" method="post">
	                	<label>Usuario</label>
			            <input type="text" name="usuario" value="" class="form-control" required>
			            <label>Clave Actual</label>
			            <input type="password" name="clave" value="" class="form-control" required>
			            <label>Nueva Clave</label>
			            <input type="password" name="nueva" value="" class="form-control" required>
	       			</form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="resetpass" class="btn btn-success" data-estado="1">Realizar Cambio</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
        
    </div>
	<!-- /container -->
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ asset('js/jquery.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>
</html>
