{% if app.request.get('modulo') %}{% set modulo = app.request.get('modulo') %}{% else %}{% set modulo = '' %}{% endif %}
{% if app.request.get('moduloAlias') %}{% set moduloAlias = app.request.get('moduloAlias') %}{% else %}{% set moduloAlias = '' %}{% endif %}

{% if modulo!='' and moduloAlias!='' %}
    {% set path_dinamico = 'FC' ~ moduloAlias|capitalize ~'Bundle::modulo_' ~ modulo ~ '.html.twig' %}
{% elseif modulo!='' %}
    {% set path_dinamico = 'FC' ~ modulo|capitalize ~'Bundle::modulo_' ~ modulo ~ '.html.twig' %}
{% else %}
    {% set path_dinamico = 'FCMainBundle::modulo_base.html.twig' %}
{% endif %}    
{% extends path_dinamico %}

{% block controls %}
    <button class="btn2 btn2-default" onclick="window.history.back()">Volver</button>
{% endblock %}

{% block body2 %}
    <div class="alert alert-info alert-dismissable flashmessage">
        <a data-dismiss="alert" aria-hidden="true" style="cursor:pointer;text-decoration:none;"><button type="button" class="close" data-dismiss="alert">&times;</button>
        Disculpas! El usuario{% if usuario is defined%} , {{ usuario }} , {%
        endif %} no tiene los permisos necesarios para la acción solicitada.
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap-rowlink.min.js') }}"></script>
{% endblock %}