<input type="hidden" name="jsonString" id="jsonString" >
<div id="recomendacion{{uniqid}}">
    <input type="hidden" name="id" id="id" value="0">
    <input type="hidden" name="rec_iddocumento" id="rec_iddocumento" value="{{iddocumento}}">
    <input type="hidden" name="rec_idreporte" id="rec_idreporte" value="{{idreporte}}">
    <input type="hidden" name="rec_idobservacion" id="rec_idobservacion" value="{{idobservacion}}">                        
    <input type="hidden" name="rec_userlog" id="rec_userlog" value="{{userlog}}">
    <div class="acc-cont">
        <div class="row marg-top">
            <div class="col-md-2">
                <label>Nro Responsable</label> 
                    <input 
                        requerido
                        type="number"
                        name="rec_nro_responsable"
                        id="rec_nro_responsable"
                        class="rec_nro_responsable form-control "
                    >
            </div>
            <div class="col-md-5">
                <label>Nombre</label> 
                    <input                         
                        type="text"
                        readonly 
                        name="rec_nombre_responsable"
                        id="rec_nombre_responsable"
                        class="form-control"
                    >                                    
            </div>
            <div class="col-md-5">
                <label>Mail</label> 
                <input 
                    type="text" 
                    name="rec_mail"
                    id="rec_mail"
                    value="" 
                    class="form-control"
                >
            </div>
        </div>
        <div class="row marg-top">
            <div class="col-md-6">
                <label>Recomendación</label>
                <textarea 
                    requerido                
                    rows="3"                         
                    name="rec_recomendacion"
                    id="rec_recomendacion"
                    class="form-control "></textarea>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <label>Plazo</label> 
                        <input 
                            name="rec_plazo" 
                            id="rec_plazo" 
                            class="form-control" 
                            type="date" 
                            min="1900-01-01"
                            max="2060-12-12" />
                    <label>Grupo</label>
                    <select 
                        class="form-control" 
                        name="rec_idgrupo" 
                        id="rec_idgrupo">
                        <option value="0">- Seleccione - </option>
                        {% for grupo in grupos %}
                            <option 
                                value="{{grupo.idGrupo}}" >
                                {{grupo.descripcion}}
                            </option>
                        {% endfor %}
                    </select>                               
                </div>

                <div class="col-md-6">
                    <label>Tratamiento SAP</label>
                    <select 
                        class="form-control rec_tratamientoSAP" 
                        name="rec_tratamientoSAP" 
                        id="rec_tratamientoSAP"
                        data-idaclarar="rec_iddocrela_span">
                        <option value="0">- Seleccione - </option>
                        {% for tratamiento in tratamientosSAP %}
                            <option 
                                value="{{tratamiento.idTratamientoSAP}}" 
                                data-aclarar="{{tratamiento.debeaclarar}}">
                                {{tratamiento.descripcion}}
                            </option>
                        {% endfor %}
                    </select>   
                    <span id="rec_iddocrela_span" style="display:none"> <label>Aviso SAP</label> 
                    <input                             
                        name="rec_iddocrela" 
                        id="rec_iddocrela" 
                        class="form-control" 
                        type="number" />   
                    </span>
                </div>
            </div>                                                          
        </div>
        <div class="row marg-top">
            <div class="col-md-12">
                <a class="btn btn-success agregarColeccion"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>
                <a class="btn btn-danger limpiarColeccion"><span class="glyphicon glyphicon-remove"></span> Limpiar</a>              
            </div>
        </div>
    </div>

    <div class="table-responsive marg-top">
    <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Recomendación</th>
                <th>Responsable</th>
                <th>Plazo</th>
                <th>Reportante</th>
                <th class="text-center">Acciones</th>                
            </tr>
        </thead>
        <tbody id="coleccionLista{{uniqid}}"><!-- Se carga el JSON --></tbody>
    </table>
    </div>    
</div>

<script type="text/javascript" src="{{ asset('js/Coleccion.js') }}"></script>
<script type="text/javascript">

    //Creo una nueva coleccion dinamica de recomendaciones
    var recomendaciones{{uniqid}} = new Coleccion();     
    //Seteo los campos a listar en la grilla
    recomendaciones{{uniqid}}.setCamposListar(['id','rec_recomendacion','rec_nombre_responsable','rec_plazo','rec_userlog']); 
    recomendaciones{{uniqid}}.setidListadoHTML('#coleccionLista{{uniqid}} ');

    //Cargo las recomendaciones de la base de datos
    {% if recomendaciones %}
        {% for recomendacion in recomendaciones %}     
            recomendaciones{{uniqid}}.agregar(jQuery.parseJSON('{{recomendacion | raw }}'));
        {% endfor %}
    {% endif %}
    //Listo las recomendaciones en el ID seleccionado
    recomendaciones{{uniqid}}.listar();
    $('#jsonString').val(recomendaciones{{uniqid}}.jsonString());

    //funcion de limpiar inputs
    function limpiar{{uniqid}}(){
        $('#recomendacion{{uniqid}} :input').val("");
        $('#recomendacion{{uniqid}} select').val(0);
        $('#recomendacion{{uniqid}} #id').val(0);
        $('#recomendacion{{uniqid}} .agregarColeccion').html('<span class="glyphicon glyphicon-plus-sign"></span> Agregar');
        $('#recomendacion{{uniqid}} .limpiarColeccion').html('<span class="glyphicon glyphicon-remove"></span> Limpiar');        
        resetSelectTratamientoSAP{{uniqid}}(0);
        $('#recomendacion{{uniqid}} #rec_userlog').val('{{userlog}}');
        $('#recomendacion{{uniqid}} #rec_iddocumento').val('{{iddocumento}}');
        $('#recomendacion{{uniqid}} #rec_idreporte').val('{{idreporte}}');
        $('#recomendacion{{uniqid}} #rec_idobservacion').val('{{idobservacion}}');        
    }

    //Valida los campos definidos como requerido
    function validar{{uniqid}} ()
    {
        error = false;
        msg ='';
        if($('#recomendacion{{uniqid}} #rec_recomendacion').val() == "") 
        {
            error = true;
            msg = msg+'Escriba una recomendación válida\n';
        }
        if($('#recomendacion{{uniqid}} #rec_plazo')[0].checkValidity() == false || $('#recomendacion{{uniqid}} #rec_plazo').val() == "")
        {
           error = true;
           msg = msg + 'Escriba un plazo válido\n';

        }
        if($('#recomendacion{{uniqid}} #rec_tratamientoSAP').val() == 0) 
        {
            error = true;
            msg = msg+'Seleccione un tratamiento válido\n';
        }
        if($('#recomendacion{{uniqid}} #rec_iddocrela')[0].checkValidity() == false) 
        {
            error = true;
            msg = msg+'Ingrese un Aviso SAP válido\n';
        }
        rec_nombre_responsable = $('#recomendacion{{uniqid}} #rec_nombre_responsable').val();
        if(rec_nombre_responsable == "" || rec_nombre_responsable == "Complete" || rec_nombre_responsable == "No se encontró registros"){
            msg = msg+'Debe ser un responsable válido\n';
            error = true;
        }
        if(msg != '')
        {          
            alert(msg);
        }          
        return error;
    }

    //Boton Limpiar: Accion de limpiar los inpuits
    $("#recomendacion{{uniqid}} .limpiarColeccion").on('click', function() 
    {        
        limpiar{{uniqid}}();
    });

    //Boton Agregar: Accion agrega a la coleccion
    $("#recomendacion{{uniqid}} .agregarColeccion").on('click', function() 
    {
        if(validar{{uniqid}}()==true)
        {
            return false;
        }        
        recomendacion{{uniqid}} = {};         
        $('#recomendacion{{uniqid}} :input').each(function () 
        { 
            recomendacion{{uniqid}}[$(this).attr("name")] = $(this).val();                        
        }); 

        if($('#recomendacion{{uniqid}} #id').val()==0)
        {
            recomendacion{{uniqid}}['rec_notificacion'] = 1;
            recomendaciones{{uniqid}}.agregar(recomendacion{{uniqid}});            
        }
        else
        {
            recomendacion{{uniqid}}['rec_notificacion'] = 2;
            recomendaciones{{uniqid}}.editar(recomendacion{{uniqid}});
        }
        //Convierte las recomendaciones Json a un string y lo pone en el hidden del target definido para el form
        $('#jsonString').val(recomendaciones{{uniqid}}.jsonString());

        actualizarAJAX{{uniqid}}();

        //Vuelve a listar
        recomendaciones{{uniqid}}.setEnviados(); //setea en 0 la variable rec_notificacion
        recomendaciones{{uniqid}}.listar();        
        limpiar{{uniqid}}();        
        console.log(recomendaciones{{uniqid}});   
        $('#recomendacion{{uniqid}} #rec_userlog').val('{{userlog}}');
    });

    // Boton Borrar: Quita de la coleccion
    $('body').on('click', '#recomendacion{{uniqid}} .borrarColeccion', function () 
    {
       if(confirm('Desea quitar el registro?')) ; else return true;
       objetoId = $(this).attr("data-id");  
       recomendaciones{{uniqid}}.quitar(objetoId);
       //console.log(recomendaciones{{uniqid}}); 
        //Convierte las recomendaciones Json a un string y lo pone en el hidden del target definido para el form
        $('#jsonString').val(recomendaciones{{uniqid}}.jsonString());       
       //Vuelve a listar
       recomendaciones{{uniqid}}.listar();               
       actualizarAJAX{{uniqid}}();
    });

   // Boton EditaR: Agrega a los inputs el objeto de la colección
   $('body').on('click', '#recomendacion{{uniqid}} .editarColeccion', function () 
    {
        idedit = $(this).attr("data-id"); 
        recomendacion{{uniqid}} = JSLINQ(recomendaciones{{uniqid}}.items).Where(function(item){ return item.id == idedit; });
        recomendacion{{uniqid}} = recomendacion{{uniqid}}.items[0];        
        for (var name in recomendacion{{uniqid}}) {
            $( "#recomendacion{{uniqid}} #"+name ).val(recomendacion{{uniqid}}[name]);       
        }

        //Tratamiento SAP debeaclarar
        aclarar = $('option:selected', '#recomendacion{{uniqid}} #rec_tratamientoSAP').attr('data-aclarar');
        resetSelectTratamientoSAP{{uniqid}}(aclarar);

        $('#recomendacion{{uniqid}} .agregarColeccion').html('<span class="glyphicon glyphicon-plus-sign"></span> Guardar Cambios');
        $('#recomendacion{{uniqid}} .limpiarColeccion').html('<span class="glyphicon glyphicon-remove"></span> Cancelar')
    });


   $('body').on('change', '#recomendacion{{uniqid}} #rec_tratamientoSAP', function () 
    {
        //Tratamiento SAP debeaclarar
        aclarar = $('option:selected', this).attr('data-aclarar');
        resetSelectTratamientoSAP{{uniqid}}(aclarar);
    });

    $("#recomendacion{{uniqid}} .rec_nro_responsable").on('blur', function() {
            idreporte = {{idreporte}};
            if($("#recomendacion{{uniqid}} #rec_nro_responsable").val().length>=1){
                $("#recomendacion{{uniqid}} #rec_nombre_responsable").val('Buscando...');  
                cedula = $(this).val();
                $.post('{{path('fc_ajax_personal')}}', {idsolicitante: cedula}, 
                    function(response){
                            if(response.success){
                                $("#recomendacion{{uniqid}} #rec_nombre_responsable").val(response.nombre);
                                $("#recomendacion{{uniqid}} #rec_mail").val(response.mail);                                             
                            }else{
                                $("#recomendacion{{uniqid}} #rec_nombre_responsable").val('No se encontró registros');
                                $("#recomendacion{{uniqid}} #rec_mail").val("");    
                            }
                    }, "json");   

            }else{
                $("#recomendacion{{uniqid}} #rec_nombre_responsable").val("Complete");
                $("#recomendacion{{uniqid}} #rec_mail").val("");                        
            }
    });

   //resetea el select de tratamietnoSAP
   function resetSelectTratamientoSAP{{uniqid}}(aclarar){
        if(aclarar==1){                 
            $('#recomendacion{{uniqid}} #rec_iddocrela_span').css("display", "block");
            $('#recomendacion{{uniqid}} #rec_iddocrela').prop('required',true);
        }else{            
            $('#recomendacion{{uniqid}} #rec_iddocrela').val('');
            $('#recomendacion{{uniqid}} #rec_iddocrela').prop('required',false);
            $('#recomendacion{{uniqid}} #rec_iddocrela_span').css("display", "none");            
        }    
   }


   function actualizarAJAX{{uniqid}}(){ 
    {% if ajax %}               
        $.post('{{path('fc_agregar_recomendaciones')}}', 
            {
                recomendaciones: recomendaciones{{uniqid}}.jsonString(), 
                idDocumento: {{iddocumento}} , 
                idReporte: {{idreporte}} , 
                idObservacion: {{idobservacion}} 
            }, 
        function(response){
            if(response.success==false){
                //console.log(response); 
            }
        }, "json");
    {% else %}
        return true;
    {% endif %}
   }

</script>        
