@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg'),
         url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  /* you need to set this to assign to the main element a min height of 100% */
  height: 100%;
}

body {
  font-size: 13px;
  font-family: Helvetica, 'titillium_webregular', sans-serif;
   -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility\9;
    /*  */
  color: #4e6361;
  background-color: #f5f4e9;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

/* -------------------------------- 

Main components 

-------------------------------- */

/*PANTALLA GRANDE */
@media only screen and (min-width: 1024px) {
  .cd-main-content {
    min-height: 100%;
    width: calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    background-color: #f5f4e9;
    padding-top: 50px;
    padding-bottom: 40px;
    z-index: 2;
  }
  .cd-main-content.menu-closed {
    width: 100% !important;
  }

  #cd-lateral-nav {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    /* the secondary navigation is covered by the main element */
    z-index: 1;
    width: 300px;
    background-color: #242e30;
    overflow-y: auto;
    padding-top: 40px;
  }
  #cd-lateral-nav.menu-closed {
    display:none;
  }
  header {
    height: 40px;
  }
  footer {
    height: 40px;
    width: calc(100% - 300px);
    width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
  }
  footer.menu-closed {
    width: 100% !important;
  }
  .footer-full{
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #004454;
    z-index: 3;
    font-weight: 600;
    font-size: 100%;
    color: #FFF;
  }

  #cd-logo {
    margin: 10px 0 0 15px;
  }

  #cd-top-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
  }
  #cd-top-nav ul {
    height: 100%;
    padding-top: 4px;
  }
  #cd-lateral-nav .cd-navigation {
    margin: 20px 0;
	font-size: 107%;
  }
  .cd-menu-visible{
    display: none;
  }
  .cd-menu-visible-bigscreen{
    display: inline-block;
  }

  .flashmessage{
    top:50px;
    right: 310px;
  }
  /*BOTON PARA CERRAR MENU EN PANTALLA GRANDE*/
  #cd-menu-trigger-bigscreen {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #64807d;
  }
  #cd-menu-trigger-bigscreen .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
  }
  #cd-menu-trigger-bigscreen .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */
  }
  #cd-menu-trigger-bigscreen .cd-menu-icon::before, #cd-menu-trigger-bigscreen .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  #cd-menu-trigger-bigscreen .cd-menu-icon::before {
    bottom: 5px;
  }
  #cd-menu-trigger-bigscreen .cd-menu-icon::after {
    top: 5px;
  }
  #cd-menu-trigger-bigscreen.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0);
  }
  #cd-menu-trigger-bigscreen.is-clicked .cd-menu-icon::before, #cd-menu-trigger-bigscreen.is-clicked .cd-menu-icon::after {
    background-color: white;
  }
  #cd-menu-trigger-bigscreen.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cd-menu-trigger-bigscreen.is-clicked .cd-menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media only screen and (max-width: 1023px) {
  .cd-main-content {
    /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
    min-height: 100%;
    position: relative;
    background-color: #f5f4e9;
    z-index: auto; /*poner z-index auto para los modals */
    padding-top: 50px;
    padding-bottom: 40px;
  }
  #cd-lateral-nav {
    font-size: 107%;
    position: fixed;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 80px);
    height: -webkit-calc(100% - 80px);
    right: 0;
    top: 40px;
    /* the secondary navigation is covered by the main element */
    z-index: 3;
    width: 300px;
    background-color: #242e30;
    overflow-y: auto;
    display: none;
  }
  header {
    height: 40px;
  }
  footer {
    height: 40px;
    width: 100%;
  }
  .footer-full{
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #004454;
    z-index: 3;
    font-weight: 600;
    font-size: 100%;
    color: #FFF;
  }
  #cd-logo {
    margin: 10px 0 0 20px;
  }
  #cd-top-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
  }
  #cd-top-nav ul {
    height: 100%;
    padding-top: 4px;
  }
  #cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px;
	font-size: 107%;
  }
  .cd-menu-visible{
    display: inline-block;
  }
  .cd-menu-visible-bigscreen{
    display: none;
  }
  .cd-main-content.lateral-menu-is-open {
    z-index: 0;
  }
  .flashmessage{
    top:50px;
    right: 10px;
  }
  #cd-menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #64807d;
  }
  #cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
  }
  #cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */
  }
  #cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: inherit;
    left: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  #cd-menu-trigger .cd-menu-icon::before {
    bottom: 5px;
  }
  #cd-menu-trigger .cd-menu-icon::after {
    top: 5px;
  }
  #cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0);
  }
  #cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: white;
  }
  #cd-menu-trigger.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cd-menu-trigger.is-clicked .cd-menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cd-lateral-nav.lateral-menu-is-open {
    /*-webkit-transform: translateX(0);*/
    /*-moz-transform: translateX(0);*/
    /*-ms-transform: translateX(0);*/
    /*-o-transform: translateX(0);*/
    /*transform: translateX(0);*/
    display: block;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
  }
}

/*TODOS Y MOBILE */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #004454;
  z-index: 3;
  /* Force Hardware Acceleration in WebKit
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;*/
}
header.is-fixed {
  position: fixed;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #004454;
  z-index: 3;
  font-weight: 600;
  font-size: 100%;
  color: #FFF;
  /* Force Hardware Acceleration in WebKit */
  /*-webkit-transform: translateZ(0);*/
  /*-webkit-backface-visibility: hidden;*/
  /*-webkit-transition-property: -webkit-transform;*/
  /*-moz-transition-property: -moz-transform;*/
  /*transition-property: transform;*/
  /*-webkit-transition-duration: 0.4s;*/
  /*-moz-transition-duration: 0.4s;*/
  /*transition-duration: 0.4s;*/
}
footer.is-fixed {
  position: fixed;
}
#cd-logo {
  display: block;
  float: left;
  font-size: 123%;
  text-decoration: none;
}
#cd-logo:hover {
  text-decoration: none;
}
#cd-logo img {
  display: inline-block;
}
#cd-logo span {
  font-weight: 600;
  color: #FFF;
}

#cd-top-nav li {
  display: inline-block;
  margin-right: 1em;
}
#cd-top-nav a {
  display: inline-block;
  padding: .5em;
  font-size: 123%;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
#cd-top-nav a.current {
  background-color: #242e30;
  text-decoration: none;
}
.no-touch #cd-top-nav a:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.cd-menu-cursor{
  cursor: pointer;
}
#cd-lateral-nav .sub-menu {
  padding: 0px 10px 10px 15px;
  display: none;
}
#cd-lateral-nav .sub-menu li{
  margin: 5px 0px 5px 0px;
}
#cd-lateral-nav .sub-menu li a{
  line-height: 1.2em;
}
#cd-lateral-nav a {
  display: block;
  line-height: 1.5em;
  padding: 0px 16px 0px 20px;
  color: #aab5b7;
  text-decoration: none;
}
#cd-lateral-nav a.current {
  background-color: #3a4a4d;
  color: #FFF;
  text-decoration: none;
}
.no-touch #cd-lateral-nav a:hover {
  color: #FFF;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  /* this is the right arrow to show that the item has a submenu  */
}
#cd-lateral-nav .item-has-children > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1em;
  background: url("../img/cd-arrow.svg") no-repeat center center;
  background-size: 8px 11px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children > a.submenu-open::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}
#cd-lateral-nav .item-has-children2 > a {
  position: relative;
  font-weight: normal;
  /* this is the right arrow to show that the item has a submenu  */
}
#cd-lateral-nav .item-has-children2 > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1em;
  background: url("../img/cd-arrow.svg") no-repeat center center;
  background-size: 6px 9px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children2 > a.submenu-open::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

#cd-lateral-nav .socials {
  padding: 0 32px;
}
#cd-lateral-nav .socials:after {
  content: "";
  display: table;
  clear: both;
}
#cd-lateral-nav .socials a {
  height: 32px;
  width: 32px;
  float: left;
  padding: 0;
  background-image: url("../img/cd-socials.svg");
  background-repeat: no-repeat;
  background-size: 128px 64px;
  background-color: #FFF;
  margin-right: .5em;
  border-radius: 0.25em;
}
#cd-lateral-nav .socials a.cd-twitter {
  background-position: 0 0;
}
#cd-lateral-nav .socials a.cd-github {
  background-position: -32px 0;
}
#cd-lateral-nav .socials a.cd-facebook {
  background-position: -64px 0;
}
#cd-lateral-nav .socials a.cd-google {
  background-position: -96px 0;
}
.no-touch #cd-lateral-nav .socials a:hover {
  background-color: #4e6361;
}
.no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
  background-position: 0 -32px;
}
.no-touch #cd-lateral-nav .socials a:hover.cd-github {
  background-position: -32px -32px;
}
.no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
  background-position: -64px -32px;
}
.no-touch #cd-lateral-nav .socials a:hover.cd-google {
  background-position: -96px -32px;
}
.tit-lateral-nav{
  padding: 10px 15px 10px 20px;
  color: #FFF;
  font-weight: 600;
  font-size: 123%;
}
.cd-span-foo{
  display: inline-block;
  margin: 15px 0 0 15px;
  font-size: 77%;
}

/* BOOTSTRAP INSPIRED */
a.btn3{
  padding: 10px 12px;
}
.btn3 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-left: -4px;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  /* white-space: nowrap; //para tener todo el titulo en una linea*/
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
  border-radius: 3px;
  width: 100%
}
.btn3:focus,
.btn3:active:focus,
.btn3.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn3:hover,
.btn3:focus {
  color: #333;
  text-decoration: none;
}
.btn3:active,
.btn3.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn3.disabled,
.btn3[disabled],
fieldset[disabled] .btn3 {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn3 .btn3-icon{
  font-size: 233%;
  display: block;
  text-align: center;
}
a.btn2{
  padding: 10px 12px;
}
.btn2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-left: -4px;
  font-size: 107%;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
  height: 40px;
}
.btn2:focus,
.btn2:active:focus,
.btn2.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn2:hover,
.btn2:focus {
  color: #333;
  text-decoration: none;
}
.btn2:active,
.btn2.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn2.disabled,
.btn2[disabled],
fieldset[disabled] .btn2 {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn2-default {
  color: #333;
  background-color: #fff;
}
.btn2-default:hover,
.btn2-default:focus,
.btn2-default:active,
.btn2-default.active,
.open .dropdown-toggle.btn2-default {
  color: #333;
  background-color: #ebebeb;
}
.btn2-default:active,
.btn2-default.active,
.open .dropdown-toggle.btn2-default {
  background-image: none;
}
.btn2-default.disabled,
.btn2-default[disabled],
fieldset[disabled] .btn2-default,
.btn2-default.disabled:hover,
.btn2-default[disabled]:hover,
fieldset[disabled] .btn2-default:hover,
.btn2-default.disabled:focus,
.btn2-default[disabled]:focus,
fieldset[disabled] .btn2-default:focus,
.btn2-default.disabled:active,
.btn2-default[disabled]:active,
fieldset[disabled] .btn2-default:active,
.btn2-default.disabled.active,
.btn2-default[disabled].active,
fieldset[disabled] .btn2-default.active {
  background-color: #fff;
}
.btn2-default .badge {
  color: #fff;
  background-color: #333;
}
.btn2-primary {
  color: #fff;
  background-color: #428bca;
}
.btn2-primary:hover,
.btn2-primary:focus,
.btn2-primary:active,
.btn2-primary.active,
.open .dropdown-toggle.btn2-primary {
  color: #fff;
  background-color: #3276b1;
}
.btn2-primary:active,
.btn2-primary.active,
.open .dropdown-toggle.btn2-primary {
  background-image: none;
}
.btn2-primary.disabled,
.btn2-primary[disabled],
fieldset[disabled] .btn2-primary,
.btn2-primary.disabled:hover,
.btn2-primary[disabled]:hover,
fieldset[disabled] .btn2-primary:hover,
.btn2-primary.disabled:focus,
.btn2-primary[disabled]:focus,
fieldset[disabled] .btn2-primary:focus,
.btn2-primary.disabled:active,
.btn2-primary[disabled]:active,
fieldset[disabled] .btn2-primary:active,
.btn2-primary.disabled.active,
.btn2-primary[disabled].active,
fieldset[disabled] .btn2-primary.active {
  background-color: #428bca;
}
.btn2-primary .badge {
  color: #428bca;
  background-color: #fff;
}
.btn2-success {
  color: #fff;
  background-color: #5cb85c;
}
.btn2-success:hover,
.btn2-success:focus,
.btn2-success:active,
.btn2-success.active,
.open .dropdown-toggle.btn2-success {
  color: #fff;
  background-color: #47a447;
}
.btn2-success:active,
.btn2-success.active,
.open .dropdown-toggle.btn2-success {
  background-image: none;
}
.btn2-success.disabled,
.btn2-success[disabled],
fieldset[disabled] .btn2-success,
.btn2-success.disabled:hover,
.btn2-success[disabled]:hover,
fieldset[disabled] .btn2-success:hover,
.btn2-success.disabled:focus,
.btn2-success[disabled]:focus,
fieldset[disabled] .btn2-success:focus,
.btn2-success.disabled:active,
.btn2-success[disabled]:active,
fieldset[disabled] .btn2-success:active,
.btn2-success.disabled.active,
.btn2-success[disabled].active,
fieldset[disabled] .btn2-success.active {
  background-color: #5cb85c;
}
.btn2-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn2-info {
  color: #fff;
  background-color: #5bc0de;
}
.btn2-info:hover,
.btn2-info:focus,
.btn2-info:active,
.btn2-info.active,
.open .dropdown-toggle.btn2-info {
  color: #fff;
  background-color: #39b3d7;
}
.btn2-info:active,
.btn2-info.active,
.open .dropdown-toggle.btn2-info {
  background-image: none;
}
.btn2-info.disabled,
.btn2-info[disabled],
fieldset[disabled] .btn2-info,
.btn2-info.disabled:hover,
.btn2-info[disabled]:hover,
fieldset[disabled] .btn2-info:hover,
.btn2-info.disabled:focus,
.btn2-info[disabled]:focus,
fieldset[disabled] .btn2-info:focus,
.btn2-info.disabled:active,
.btn2-info[disabled]:active,
fieldset[disabled] .btn2-info:active,
.btn2-info.disabled.active,
.btn2-info[disabled].active,
fieldset[disabled] .btn2-info.active {
  background-color: #5bc0de;
}
.btn2-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn2-warning {
  color: #fff;
  background-color: #f0ad4e;
}
.btn2-warning:hover,
.btn2-warning:focus,
.btn2-warning:active,
.btn2-warning.active,
.open .dropdown-toggle.btn2-warning {
  color: #fff;
  background-color: #ed9c28;
}
.btn2-warning:active,
.btn2-warning.active,
.open .dropdown-toggle.btn2-warning {
  background-image: none;
}
.btn2-warning.disabled,
.btn2-warning[disabled],
fieldset[disabled] .btn2-warning,
.btn2-warning.disabled:hover,
.btn2-warning[disabled]:hover,
fieldset[disabled] .btn2-warning:hover,
.btn2-warning.disabled:focus,
.btn2-warning[disabled]:focus,
fieldset[disabled] .btn2-warning:focus,
.btn2-warning.disabled:active,
.btn2-warning[disabled]:active,
fieldset[disabled] .btn2-warning:active,
.btn2-warning.disabled.active,
.btn2-warning[disabled].active,
fieldset[disabled] .btn2-warning.active {
  background-color: #f0ad4e;
}
.btn2-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn2-danger {
  color: #fff;
  background-color: #d9534f;
}
.btn2-danger:hover,
.btn2-danger:focus,
.btn2-danger:active,
.btn2-danger.active,
.open .dropdown-toggle.btn2-danger {
  color: #fff;
  background-color: #d2322d;
}
.btn2-danger:active,
.btn2-danger.active,
.open .dropdown-toggle.btn2-danger {
  background-image: none;
}
.btn2-danger.disabled,
.btn2-danger[disabled],
fieldset[disabled] .btn2-danger,
.btn2-danger.disabled:hover,
.btn2-danger[disabled]:hover,
fieldset[disabled] .btn2-danger:hover,
.btn2-danger.disabled:focus,
.btn2-danger[disabled]:focus,
fieldset[disabled] .btn2-danger:focus,
.btn2-danger.disabled:active,
.btn2-danger[disabled]:active,
fieldset[disabled] .btn2-danger:active,
.btn2-danger.disabled.active,
.btn2-danger[disabled].active,
fieldset[disabled] .btn2-danger.active {
  background-color: #d9534f;
}
.btn2-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn2-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
}
.btn2-link,
.btn2-link:active,
.btn2-link[disabled],
fieldset[disabled] .btn2-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn2-link,
.btn2-link:hover,
.btn2-link:focus,
.btn2-link:active {
  border-color: transparent;
}
.btn2-link:hover,
.btn2-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn2-link[disabled]:hover,
fieldset[disabled] .btn2-link:hover,
.btn2-link[disabled]:focus,
fieldset[disabled] .btn2-link:focus {
  color: #999;
  text-decoration: none;
}

/* BOOTSTRAP SOBREESCRITO */
.table {
  background-color: #FFF;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #faf9f4;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f4e9;
}
.flashmessage{
  position:fixed;
  z-index:1000;
  opacity: 0.6;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0.6; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}
.flashmessage:hover{
  opacity:1;
}