body{
  margin-left: 15px;
  margin-right: 15px;
}
h6{
  font-size: 16px;
  font-weight: bold;
  margin: 0px
}
/*GESTION MARITIMA*/
.gestionmaritima{
    background-color: #FF4981;
    color: #FFF;
}
.gestionmaritimaeste{
    background-color: #ff9406;
    color: #FFF;
}
.contratistas{
    background-color: #FFCC00;
    color: #FFF;
}
.medioamb{
    background-color: #ff9406;
    color: #FFF;
}
.badg-success{
  background-color: #5cb85c !important;
  color: #FFF !important;
}
.badg-danger{
  background-color: #d9534f !important;
  color: #FFF !important;
}
.badg-warning{
  background-color: #f0ad4e !important;
  color: #FFF !important;
}
.acciones{
  width: 60px;
  text-align: center;
}
.light-grey{
  color: #EEE;
}
/*FIN GESTION MARITIMA*/
/*SIRVA*/
.panel-a{
  text-decoration: none !important;
}
.panel-a div{
  background-color: #428bca;
  color: #FFF;
  text-decoration: none !important;
}
.panel-a:hover div{
  color: #000;
  text-decoration: none !important;
}
.panel-a:hover{
  text-decoration: none !important;
}
.panel-a:active div{
  text-decoration: none !important;
}
.panel-a:active{
  text-decoration: none !important;
}
.panel-a:focus div{
  color: #000;
  text-decoration: none !important;
}
.panel-a:focus{
  text-decoration: none !important;
}

.div-scroll{
  position: relative;
}
.tabla-scroll thead tr th{
  white-space: nowrap;
}
.tabla-scroll tbody tr td{
  white-space: nowrap;
}
.graph-container {
  box-sizing: border-box;
  width: 100%;
  height: 230px;
  padding: 20px 15px 15px 15px;
  border: 1px solid #ddd;
  background: #fff;

}

.graph-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

.legend table {
  border-spacing: 5px;
}
.circulito{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 auto;
}
.columna1{
  background-color: rgba(0,0,0,0.1);
}
.select_operativo{
  border: 1px solid #5cb85c;
  background-color: #62c462;
  color: #FFF;
}
.select_nooperativo{
  border: 1px solid #d9534f;
  background-color: #ee5f5b;
  color: #FFF;
}
.select_noaplica{
  border: 1px solid #5bc0de;
  background-color: #5bc0de;
  color: #FFF;
}
.operativo{
  border-left: 7px solid #5cb85c;
}
.nooperativo{
  border-left: 7px solid #d9534f;
}
.noaplica{
  border-left: 7px solid #5bc0de;
}
/*FIN SIRVA*/
.hideextra{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thfit{
    white-space: nowrap;
}
.table tbody td{
    white-space: normal;
}
.librodenovedades{
    background-color: #ff3b30;
    color: #FFF;
}
.hideArchivo{
  position: absolute;
  left: -10000px;
}
.info-rep{
  background-color: #666;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 5px;
  font-size: 75%;
}
.btn-no-active{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-no-active:hover,
.btn-no-active:focus,
.open .dropdown-toggle.btn-no-active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nopadding-left {
   padding-left: 0 !important;
   margin-left: 0 !important;
}
.nopadding-right {
   padding-right: 0 !important;
   margin-right: 0 !important;
}
.w150{
  width: 150px;
}
.panel-footer-filter {
  padding: 5px 7px;
}
.panel-body-filter {
  padding: 8px;
}
.LockOff { 
   display: none; 
   visibility: hidden; 
} 
.LockOn { 
   display: block; 
   visibility: visible; 
   position: absolute; 
   z-index: 999; 
   top: 0px; 
   left: 0px; 
   width: 105%; 
   height: 105%; 
   background-color: #000; 
   text-align: center; 
   padding-top: 20%; 
   filter: alpha(opacity=65); 
   opacity: 0.75; 
} 
.causas{
  height: 300px;
  overflow-y:auto;
  overflow-x:hidden;
}
.doc-overflow{
  height: 400px;
  overflow-y:auto;
  overflow-x:hidden;
}
.active .checktext{
  content: SI;
}

.notif .active{
  background-color: #5cb85c;
  color: #FFF;
}
.a-collapse{
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.a-collapse:hover{
  text-decoration: none;
}
.grey{
  color: #999;
}
.relative{
  position: relative;
}
.modal-photo{
  background-color: transparent;
  margin: 0px;
}
.file-thumb-name{
  line-height: 12px;
  color: #000;
  font-size: 12px;
  display: block;
}
.img-thumb-tmp{
  width: inherit; 
  height: 80px;
}
.file-thumb-tmp{
  height:90px; width:90px; 
  padding-top:24px; 
  font-size:30px; 
  margin-right:10px; 
  margin-bottom:10px; 
  vertical-align:top;
}
.file-thumb-gal{
  margin-right:10px;
  margin-bottom:10px; 
  position:relative; 
  height:150px; 
  width:150px; 
  padding-top:40px; 
  font-size:40px; 
  vertical-align:top;
}
.img-thumb-gal{
  margin-right:10px; 
  margin-bottom:10px; 
  position:relative; 
  vertical-align:top;
}
.extension{
  font-size: 12px;
  margin-top:-16px;
  line-height: 12px;
  color: #FFF;
  font-weight: bold;
  display: block;
}
.btn-gal{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
}
.btn-gal-without-div{
    position: absolute;
    right: 8px;
    top: 0px;
    font-size: 10px;
}
.file-info {
      background-color: white !important;
      cursor: text !important;
    }
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.link-disabled{
  background-color: #8E8E93;
  color: #CCC;
}
.table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin-bottom: 20px;
    padding-bottom: 0px;
}
.table-responsive table{
  margin-bottom: 0px
}

.inhabilitado{
  cursor: no-drop;
}
.icons{
  font-size: 4em;
  line-height: 1.8em;
  margin: 20px 25% 0px 25%;
  text-align: center;
  vertical-align: top;
}
.icons2{
  font-size: 2em;
  line-height: 1.9em;
  margin: 20px 25% 0px 25%;
  text-align: center;
  vertical-align: top;
}
.gris{
  background-color: #eee;
}
.sirvadisponibilidad{
    background-color: #FF4981;
    color: #FFF;
}
.sirvainventario{
    background-color: #34AADC;
    color: #FFF;
}
.incidentes{
  background-color: #4CD964;
  color: #FFF;
}
.epp{
  background-color: #FFCC00;
  color: #FFF;
}
.inspecciones{
  background-color: #5856D6;
  color: #FFF;
}
.permisostrabajo{
  background-color: #FF2D55;
  color: #FFF;
}
.enfermeria{
  background-color: #FF1300;
  color: #FFF;
}
.fichas{
    background-color: #FF9500;
    color: #FFF;
}
.higiene{
  background-color: #34AADC;
  color: #FFF;
}
.capacitaciones{
    background-color: #006400;
    color: #FFF;
}
.informacion{
  background-color: #9cdfff;
  color: #FFF;
}
.bomberos{
  background-color: #FF3A2D;
  color: #FFF;
}
.seguridadind{
  background-color: #FF4981;
  color: #FFF;
}
.adminusuarios{
  background-color: #007AFF;
  color: #FFF;
}
.auditoria{
  background-color: #FC7AFF;
  color: #FFF;
}
.evriesgoalto{
  background-color: red;
}
.evriesgomedio{
  background-color: blue;
}
.evriesgobajo{
  background-color: yellow;
}
.dropdown-subtit{
  background-color: #DDD;
  padding: 7px 0px 7px 20px;
}
.pagination{
  margin-top: 0px;
}
.no-marg-top{
  margin-top: 0px;
}
.marg-top{
  margin-top: 20px;
}
.marg-bot{
  margin-bottom: 20px;
}
.marg-top-neg{
  margin-top: -20px;
}
.marg-right{
  margin-right: 20px;
}
.marg-top-less{ margin-top: 10px;}
.marg-top-more{ margin-top: 40px;}
.marg-top-bottom-more{
    margin-top: 40px;
    margin-bottom: 40px;
}
.ag-observacion{
  background-color: #666;
  color: #FFF;
}
.ag-observacion:hover{
  background-color: #444;
  color: #FFF;
  text-decoration: none;
}
.acc-cont{
 padding: 10px;
}
.disp-none{
  display: none;
}
.green-shadow {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 16px #7aba7b;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 16px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 16px #7aba7b;
}
.img-gal{
  margin-bottom: 20px;
}
.gal-remove{
  position: relative;
  top:5px;
  margin-bottom: 0px;
}
.observacion{
  background-color: #999;
  color: #FFF;
}
.observacion:hover{
  background-color: #666666;
  color: #FFF;
  text-decoration: none;
}
.recomendacion{
  background-color: #DDD;
  color: #000;
}
.recomendacion:hover{
  background-color: #EEE;
  color: #000;
  text-decoration: none;
}
.ag-recomendacion{
  background-color: #EEE;
  color: #000;
}
.ag-recomendacion:hover{
  background-color: #999;
  color: #000;
  text-decoration: none;
}
.add-photo{
  border-style: dashed;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  color: #666666;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 90px;
  height: 100px;
  background-color: #EFEFEF;
}
.sub-legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #999999;
  border: 0;
  border-bottom: 1px solid #eaeaea;
}
.alto{
  /*height: 90%;*/
}
.alto2{
  /*min-height: 80%;*/
}
.btn-cerrar{
  margin-right: 60px;
}
.tit-cerrar{
  font-weight: bold;
  font-size: 18px;
}
.no-style{
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.acc-hover{
  background-color: #FFF;
}
.acc-hover:hover{
  background-color: #FCFCFC;
  border-color: rgba(82, 168, 236, 0.8);
  border-width: 1px;
  border-style: solid;
}
.check{
  display: block;
  padding: 10px 15px 10px 15px;
  background-color: #FFF;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.hilighted{
  background-color: #c4e3f3;
}
/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 19px 19px 14px;
  *padding-top: 19px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.bs-docs-example2 {
  position: relative;
  margin: 15px 0;
  padding: 19px 19px 14px;
  padding-top: 45px;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.bs-docs-example3 {
  position: relative;
  margin: 15px 0;
  padding: 19px 19px 14px;
  padding-top: 45px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.bs-docs-example4 {
  position: relative;
  margin: 15px 0;
  padding: 19px 19px 14px;
  padding-top: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.bs-docs-button{
  position: absolute;
  width: 100px;
  top:5px;
  right: 20px;
  margin-bottom: 0px;
  text-align: right;
}
.padding0{
  padding: 0px;
}

.bs-docs-example-tit {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #666666;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
.bs-docs-example-tit-right {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #666666;
  -webkit-border-radius: 0 4px 0 4px;
     -moz-border-radius: 0 4px 0 4px;
          border-radius: 0 4px 0 4px;
}
.bs-docs-example-ext {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px 7px;
  font-size: 12px;
}
.bs-docs-example-tit2 {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #333;
  border: 1px solid #ddd;
  color: #FFF;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}
.tit-sug{
  font-weight: bold;
  font-size: 1.1em;
}
.info2{
  background-color: rgba(102, 188, 256, 0.6);
}
.sug_click{
  border: 1px solid #CCC;
  padding: 3px;
  cursor: pointer;
  -webkit-border-radius: 4px 4px 4px 4px;
     -moz-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  margin-bottom: 5px;
  display: inline-block;
  width: 97%;
}
.columnas4{
    -webkit-column-count: 4;
    -webkit-column-rule: 0px;
    -moz-column-count: 4;
    -moz-column-rule: 0px;
    column-count: 4;
}
.columnas{
    -webkit-column-count: 3;
    -webkit-column-rule: 0px;
    -moz-column-count: 3;
    -moz-column-rule: 0px;
    column-count: 3;
}
.columnas2{
    -webkit-column-count: 2;
    -webkit-column-rule: 0px;
    -moz-column-count: 2;
    -moz-column-rule: 0px;
    column-count: 2;
}
.hoyField{
  display: inline-block;
  vertical-align: top;
}
.searchSet{
  display: inline-block;
  vertical-align: top;
}
.div-login{
  margin-bottom: 15px;
}

/* FORMULARIO LOGIN DE BOOTSTRAP */
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
/* FIN FORMULARIO LOGIN DE BOOTSTRAP */
.mobile-inv{
      display: inline-block;
  }
  .mobile-inv2{
      display: block;
  }
.mobile-vis{
  display: none;
}
.correccionGal{
    margin-top: -240px;
}
@media only screen and (max-width: 970px) {
  .correccionGal{
    margin-top: 0px
  }
  .mobile-inv{
      display: none;
  }
  .mobile-inv2{
      display: none;
  }
  .mobile-vis{
      display: inline-block;
  }
  .brdr-bot{
      margin: 0px 0px 20px 0px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
  }
  .searchSet{
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
  }
  .icons{
    font-size: 5em;
    line-height: 2em;
    margin: 20px 10% 0px 10%;
    text-align: center;
    vertical-align: top;
  }
  .icons2{
    font-size: 2em;
    line-height: 2.2em;
    margin: 20px 25% 0px 25%;
    text-align: center;
    vertical-align: top;
  }
  #menu-grid, 
  #menu-grid-static {
    width: 90%;
    opacity: 1;
    margin: 150px auto;
    -o-transition: all 400ms ease-in-out;
    -o-transform: scale(1.8);
    -o-transform-origin: center 20%;
    -moz-transition: all 400ms ease-in-out;
    -moz-transform: scale(1.8);
    -moz-transform-origin: center 20%;
    -webkit-transition: all 400ms ease-in-out;
    -webkit-transform: scale(1.8);
    -webkit-transform-origin: center 20%;
    transition: all 400ms ease-in-out;
    transform: scale(1.8);
    transform-origin: center 20%;
  }
}

.navbar-fixed-top {
         padding-right: 10px;
}