<br />
{% if ProbabilidadEstimada is defined %} <label>Probabilidad estimada</label>
    <select
            class="form-control idprobabilidadestimada"
            name="{% if NameFather %}{{ NameFather }}[{% endif %}idprobabilidadestimada{% if NameFather %}]{% endif %}">
        <option value="">Seleccione</option>
        {% for probabilidad	in ProbabilidadEstimada %}
            <option
                {% if entity %}{% if probabilidad.idprobabilidadestimada == 0 or probabilidad.idprobabilidadestimada == entity.idprobabilidadestimada %} selected {% endif %}{% endif %}
                value="{{probabilidad.idprobabilidadestimada}}" data-indice="{{probabilidad.indice}}" data-clasificacion="{{probabilidad.clasificacion}}" data-descripcion="{{probabilidad.descripcion}}" >
                {{probabilidad.descripcion}}
            </option>
        {% endfor %}
    </select> {% endif %}
<br />
<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#contribuciones"  data-toggle="tab">Contribuciones al Accidente</a></li>
    <li><a href="#respuesta" data-toggle="tab">Respuesta al Accidente</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active contribuciones" id="contribuciones">
        <div class="bs-docs-example3">
            <div class="bs-docs-example-tit2">
                Condiciones Materiales <input type="checkbox" class="calcular contribcondmat" name="{% if NameFather %}{{ NameFather }}[{% endif %}contribcondmat{% if NameFather %}]{% endif %}" value="" {% if entity %}{% if entity.contribcondmat %} checked {% endif %}{% if entity.idprobabilidadestimada != 0 %} disabled {% endif %}{% endif %}>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% if InspContEqui %}
                        <label>Contrib de los equipos</label>
                        <select
                                {% if entity %}{% if entity.contribcondmat != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinspcontequi" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinspcontequi{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for equipo	in InspContEqui %}
                                <option  {% if entity %}{% if equipo.idinspcontequi == 0 or equipo.idinspcontequi == entity.idinspcontequi %} selected {% endif %}{% endif %} value="{{equipo.idinspcontequi}}" data-indice="{{equipo.indice}}">{{equipo.descripcion}}</option>
                            {% endfor %}
                        </select>


                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if InspContAmbTrabajo %}
                        <label>Contrib Ambiente de trabajo</label>
                        <select {% if entity %}{% if entity.contribcondmat != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinspcontambtrabajo" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinspcontambtrabajo{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for trabajo	in InspContAmbTrabajo %}
                                <option  {% if entity %}{% if trabajo.idinspcontambtrabajo == 0 or trabajo.idinspcontambtrabajo == entity.idinspcontambtrabajo %} selected {% endif %}{% endif %} value="{{trabajo.idinspcontambtrabajo}}" data-indice="{{trabajo.indice}}">{{trabajo.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bs-docs-example3">
            <div class="bs-docs-example-tit2">
                Factor Humano   <input type="checkbox" class="calcular contribfachum" name="{% if NameFather %}{{ NameFather }}[{% endif %}contribfachum{% if NameFather %}]{% endif %}" value="" {% if entity %}{% if entity.contribfachum %} checked {% endif %}{% if entity.idprobabilidadestimada != 0 %} disabled {% endif %}{% endif %}>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% if InspContCapacPers %}
                        <label>Capacitación del Personal </label>
                        <select {% if entity %}{% if entity.contribfachum != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinspcontcapacpers" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinspcontcapacpers{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for personal	in InspContCapacPers %}
                                <option  {% if entity %}{% if personal.idinspcontcapacpers == 0 or personal.idinspcontcapacpers == entity.idinspcontcapacpers %} selected {% endif %}{% endif %} value="{{personal.idinspcontcapacpers}}" data-indice="{{personal.indice}}" >{{personal.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if Inspcontaptitud %}
                        <label>Aptitud del personal </label>
                        <select {% if entity %}{% if entity.contribfachum != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinspcontaptitud" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinspcontaptitud{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for aptitud	in Inspcontaptitud %}
                                <option  {% if entity %}{% if aptitud.idinspcontaptitud == 0 or aptitud.idinspcontaptitud == entity.idinspcontaptitud %}
                                    selected {% endif %}{% endif %} value="{{aptitud.idinspcontaptitud}}"
                                                           data-indice="{{aptitud.indice}}">{{aptitud.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bs-docs-example3">
            <div class="bs-docs-example-tit2">
                Supervición   <input type="checkbox" class="calcular contribsuperv" name="{% if NameFather %}{{ NameFather }}[{% endif %}contribsuperv{% if NameFather %}]{% endif %}" value="contribsuperv" {% if entity %}{% if entity.contribsuperv %} checked {% endif %}{% if entity.idprobabilidadestimada != 0 %} disabled {% endif %}{% endif %}>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% if InspContTipoTarea %}
                        <label>Tipo Tarea  </label>
                        <select {% if entity %}{% if entity.contribsuperv != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinspconttipotarea" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinspconttipotarea{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for tarea in InspContTipoTarea %}
                                <option  {% if entity %}{% if tarea.idinspconttipotarea == 0 or tarea.idinspconttipotarea == entity.idinspconttipotarea %}selected {% endif %}{% endif %} value="{{tarea.idinspconttipotarea}}" data-indice="{{tarea.indice}}">{{tarea.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if InspContSupervision %}
                        <label>Supervición  </label>
                        <select {% if entity %}{% if entity.contribsuperv != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinspcontsupervision" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinspcontsupervision{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for supervision in InspContSupervision %}
                                <option  {% if entity %}{% if supervision.idinspcontsupervision == 0 or supervision.idinspcontsupervision == entity.idinspcontsupervision %} selected {% endif %}{% endif %} value="{{supervision.idinspcontsupervision}}" data-indice="{{supervision.indice}}">{{supervision.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if InspContExperiencia %}
                        <label>Experiencia  </label>
                        <select {% if entity %}{% if entity.contribsuperv != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinspcontexperiencia" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinspcontexperiencia{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for experiencia in InspContExperiencia %}
                                <option  {% if entity %}{% if experiencia.idinspcontexperiencia == 0 or experiencia.idinspcontexperiencia == entity.idinspcontexperiencia %} selected {% endif %}{% endif %} value="{{experiencia.idinspcontexperiencia}}" data-indice="{{experiencia.indice}}">{{experiencia.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane respuesta" id="respuesta">
        <div class="bs-docs-example3">
            <div class="bs-docs-example-tit2">
                Respuesta Pasiva    <input type="checkbox" class="calcular resppasiva" name="{% if NameFather %}{{ NameFather }}[{% endif %}resppasiva{% if NameFather %}]{% endif %}" value="resppasiva" {% if entity %}{% if entity.resppasiva %} checked {% endif %}{% if entity.idprobabilidadestimada != 0 %} disabled {% endif %}{% endif %}>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% if InspRespMedPasiva %}
                        <label>Medios de respuesta  </label>
                        <select {% if entity %}{% if entity.resppasiva != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinsprespmedpasiva" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinsprespmedpasiva{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for medpasiva in InspRespMedPasiva %}
                                <option  {% if entity %}{% if medpasiva.idinsprespmedpasiva == 0 or medpasiva.idinsprespmedpasiva == entity.idinsprespmedpasiva %} selected {% endif %}{% endif %} value="{{medpasiva.idinsprespmedpasiva}}" data-indice="{{medpasiva.indice}}">{{medpasiva.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if InspRespEquiPasiva %}
                        <label>Equipos de respuesta  </label>
                        <select {% if entity %}{% if entity.resppasiva != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinsprespequipasiva" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinsprespequipasiva{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for equipasiva in InspRespEquiPasiva %}
                                <option  {% if entity %}{% if equipasiva.idinsprespequipasiva == 0 or equipasiva.idinsprespequipasiva == entity.idinsprespequipasiva %} selected {% endif %}{% endif %} value="{{equipasiva.idinsprespequipasiva}}" data-indice="{{equipasiva.indice}}">{{equipasiva.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bs-docs-example3">
            <div class="bs-docs-example-tit2">
                Respuesta Activa <input type="checkbox" class="calcular respactiva" name="{% if NameFather %}{{ NameFather }}[{% endif %}respactiva{% if NameFather %}]{% endif %}" value="respactiva" {% if entity %}{% if entity.respactiva %} checked {% endif %}{% if entity.idprobabilidadestimada != 0 %} disabled {% endif %}{% endif %}>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% if InspRespMedActiva %}
                        <label>Medios de respuesta  </label>
                        <select {% if entity %}{% if entity.respactiva != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinsprespmedactiva" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinsprespmedactiva{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for medactiva in InspRespMedActiva %}
                                <option  {% if entity %}{% if medactiva.idinsprespmedactiva == 0 or medactiva.idinsprespmedactiva == entity.idinsprespmedactiva %} selected {% endif %}{% endif %} value="{{medactiva.idinsprespmedactiva}}" data-indice="{{medactiva.indice}}">{{medactiva.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if InspRespEquiActiva %}
                        <label>Equipos de respuesta  </label>
                        <select {% if entity %}{% if entity.respactiva != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinsprespequiactiva" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinsprespequiactiva{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for equiactiva in InspRespEquiActiva %}
                                <option  {% if entity %}{% if equiactiva.idinsprespequiactiva == 0 or equiactiva.idinsprespequiactiva == entity.idinsprespequiactiva %} selected {% endif %}{% endif %} value="{{equiactiva.idinsprespequiactiva}}" data-indice="{{equiactiva.indice}}">{{equiactiva.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="bs-docs-example3">
            <div class="bs-docs-example-tit2">
                Organizacional <input type="checkbox" class="calcular resporganizacion" name="{% if NameFather %}{{ NameFather }}[{% endif %}resporganizacion{% if NameFather %}]{% endif %}" value="resporganizacion" {% if entity %}{% if entity.resporganizacion %} checked {% endif %}{% if entity.idprobabilidadestimada != 0 %} disabled {% endif %}{% endif %}>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% if InspRespAptitud %}
                        <label>Aptitud </label>
                        <select {% if entity %}{% if entity.resporganizacion != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinsprespaptitud" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinsprespaptitud{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for aptitud in InspRespAptitud %}
                                <option  {% if entity %}{% if aptitud.idinsprespaptitud == 0 or aptitud.idinsprespaptitud == entity.idinsprespaptitud %} selected {% endif %}{% endif %} value="{{aptitud.idinsprespaptitud}}" data-indice="{{aptitud.indice}}">{{aptitud.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if InspRespCapac %}
                        <label>Capacitación </label>
                        <select {% if entity %}{% if entity.resporganizacion != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinsprespcapac" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinsprespcapac{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for capacitacion in  InspRespCapac %}
                                <option  {% if entity %}{% if capacitacion.idinsprespcapac == 0 or capacitacion.idinsprespcapac == entity.idinsprespcapac %} selected {% endif %}{% endif %} value="{{capacitacion.idinsprespcapac}}" data-indice="{{capacitacion.indice}}">{{capacitacion.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if InspRespSuperv %}
                        <label>Supervición </label>
                        <select {% if entity %}{% if entity.resporganizacion != 1 %} disabled {% endif %}{% else %} disabled {% endif %}
                                class="form-control calcular idinsprespsuperv" required
                                name="{% if NameFather %}{{ NameFather }}[{% endif %}idinsprespsuperv{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for supervicion in InspRespSuperv %}
                                <option  {% if entity %}{% if supervicion.idinsprespsuperv == 0 or supervicion.idinsprespsuperv == entity.idinsprespsuperv %} selected {% endif %}{% endif %} value="{{supervicion.idinsprespsuperv}}" data-indice="{{supervicion.indice}}" >{{supervicion.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<br />