<div class="row marg-top">
    <div class="col-md-6">
        <div class="bs-docs-example3">
            <div class="bs-docs-example-tit2">
                Severidad de las Consecuencias y Exposición
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% if RiesgoDanoPers %}
                        <label>Daño personal </label>
                        <select class="form-control calcular idriesgodanopers" name="{% if NameFather %}{{ NameFather }}[{% endif %}idriesgodanopers{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for danopersonal in RiesgoDanoPers %}
                                <option  {% if entity %}{% if danopersonal.idriesgodanopers == 0 or danopersonal.idriesgodanopers == entity.idriesgodanopers %} selected {% endif %}{% endif %} value="{{danopersonal.idriesgodanopers}}" data-indice="{{danopersonal.indice}}" data-clasificacion="{{danopersonal.clasificacion}}" data-valorkbc="{{danopersonal.valorkbc}}">{{danopersonal.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if RiesgoDanoAmb %}
                        <label>Daño ambiental </label>
                        <select class="form-control calcular idriesgodanoamb" name="{% if NameFather %}{{ NameFather }}[{% endif %}idriesgodanoamb{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for danoambiental in RiesgoDanoAmb %}
                                <option  {% if entity %}{% if danoambiental.idriesgodanoamb == 0 or danoambiental.idriesgodanoamb == entity.idriesgodanoamb %} selected {% endif %}{% endif %} value="{{danoambiental.idriesgodanoamb}}" data-indice="{{danoambiental.indice}}" data-clasificacion="{{danoambiental.clasificacion}}" data-valorkbc="{{danoambiental.valorkbc}}">{{danoambiental.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="row marg-top">
                <div class="col-md-6">
                    {% if RiesgoDanoMat %}
                        <label>Daño material </label>
                        <select class="form-control calcular idriesgodanomat" name="{% if NameFather %}{{ NameFather }}[{% endif %}idriesgodanomat{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for danomaterial in RiesgoDanoMat %}
                                <option  {% if entity %}{% if danomaterial.idriesgodanomat == 0 or danomaterial.idriesgodanomat == entity.idriesgodanomat %} selected {% endif %}{% endif %} value="{{danomaterial.idriesgodanomat}}" data-indice="{{danomaterial.indice}}" data-clasificacion="{{danomaterial.clasificacion}}" data-valorkbc="{{danomaterial.valorkbc}}">{{danomaterial.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if RiesgoExposicion %}
                        <label>Exposición de Peligro </label>
                        <select class="form-control calcular idriesgoexposicion" name="{% if NameFather %}{{ NameFather }}[{% endif %}idriesgoexposicion{% if NameFather %}]{% endif %}">
                            <option value="">Seleccione</option>
                            {% for riesgoexposicion in RiesgoExposicion %}
                                <option  {% if entity %}{% if riesgoexposicion.idriesgoexposicion == 0 or riesgoexposicion.idriesgoexposicion == entity.idriesgoexposicion %} selected {% endif %}{% endif %} value="{{riesgoexposicion.idriesgoexposicion}}" data-indice="{{riesgoexposicion.indice}}"  data-clasificacion="{{riesgoexposicion.clasificacion}}">{{riesgoexposicion.descripcion}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row marg-top">
            <div class="col-md-7">
                <table class="table table-bordered table-condensed">
                    <tr class="text-center">
                        <td class="active">A</td>
                        <td id="" class="A1 evriesgomedio grafico"></td>
                        <td id="" class="A2 evriesgomedio grafico"></td>
                        <td id="" class="A3 evriesgoalto grafico"></td>
                        <td id="" class="A4 evriesgoalto grafico"></td>
                        <td id="" class="A5 evriesgoalto grafico"></td>
                    </tr>
                    <tr class="text-center">
                        <td class="active">B</td>
                        <td class="B1 evriesgobajo grafico"></td>
                        <td class="B2 evriesgomedio grafico"></td>
                        <td class="B3 evriesgomedio grafico"></td>
                        <td class="B4 evriesgoalto grafico"></td>
                        <td class="B5 evriesgoalto grafico"></td>
                    </tr>
                    <tr class="text-center">
                        <td class="active">C</td>
                        <td class="C1 evriesgobajo grafico"></td>
                        <td class="C2 evriesgobajo grafico"></td>
                        <td class="C3 evriesgomedio grafico"></td>
                        <td class="C4 evriesgomedio grafico"></td>
                        <td class="C5 evriesgoalto grafico"></td>
                    </tr>
                    <tr class="text-center">
                        <td class="active">D</td>
                        <td class="D1 evriesgobajo grafico"></td>
                        <td class="D2 evriesgobajo grafico"></td>
                        <td class="D3 evriesgobajo grafico"></td>
                        <td class="D4 evriesgomedio grafico"></td>
                        <td class="D5 evriesgomedio grafico"></td>
                    </tr>
                    <tr class="text-center">
                        <td class="active">E</td>
                        <td class="E1 evriesgobajo grafico"></td>
                        <td class="E2 evriesgobajo grafico"></td>
                        <td class="E3 evriesgobajo grafico"></td>
                        <td class="E4 evriesgobajo grafico"></td>
                        <td class="E5 evriesgomedio grafico"></td>
                    </tr>
                    <tr class="text-center">
                        <td class="active">F</td>
                        <td class="F1 evriesgobajo grafico"></td>
                        <td class="F2 evriesgobajo grafico"></td>
                        <td class="F3 evriesgobajo grafico"></td>
                        <td class="F4 evriesgobajo grafico"></td>
                        <td class="F5 evriesgobajo grafico"></td>
                    </tr>
                    <tr class="text-center active">
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5"><strong>MATRIZ DE RIESGO</strong></br>Rojo: Alto </br> Azul: Medio </br> Amarillo: Bajo</div>
        </div>
    </div>
</div>

<div class="row marg-top">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-4 text-right"><p class="form-control-static">Exposición</p></div>
            <div class="col-md-2"><input type="text" class="form-control exp1" value="" disabled></div>
            <div class="col-md-6"><input type="text" class="form-control exp2" value="" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><p class="form-control-static">Probabilidad de perdida</p></div>
            <div class="col-md-2"><input type="text" class="form-control probp1" value="" disabled></div>
            <div class="col-md-6"><input type="text" class="form-control probp2" value="" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><p class="form-control-static">Nivel de riesgo</p></div>
            <div class="col-md-2"><input type="text" class="form-control nivr1" value="" name="{% if NameFather %}{{ NameFather }}[{% endif %}evriesgonivel{% if NameFather %}]{% endif %}" readonly></div>
            <div class="col-md-6"><input type="text" class="form-control nivr2" value="" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right"><p class="form-control-static">Matriz de riesgo</p></div>
            <div class="col-md-2"><input type="text" class="form-control nivkbc1" value="" name="{% if NameFather %}{{ NameFather }}[{% endif %}evriesgokbc{% if NameFather %}]{% endif %}" readonly></div>
            <div class="col-md-6"><input type="text" class="form-control nivkbc2" value="" disabled></div>
        </div>
        <input type="hidden" class="form-control evriesgoprioridad" value="" name="{% if NameFather %}{{ NameFather }}[{% endif %}evriesgoprioridad{% if NameFather %}]{% endif %}" readonly>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-3 text-right"><p class="form-control-static">Gravedad</p></div>
            <div class="col-md-2"><input type="text" class="form-control grav1" value="" disabled></div>
            <div class="col-md-4"><input type="text" class="form-control grav2" value="" disabled></div>
            <div class="col-md-3"><input type="text" class="form-control grav3" value="" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-9 text-right"><p class="form-control-static">Probabilidad de ocurrencia </p></div>
            <div class="col-md-3"><input type="text" class="form-control probo1" value="" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-9 text-right"><p class="form-control-static">Probabilidad de sus consecuencias</p></div>
            <div class="col-md-3"><input type="text" class="form-control probc1" value="" disabled></div>
        </div>
        <div class="row">
            <div class="col-md-9 text-right"><p class="form-control-static">Plazo (días)</p></div>
            <div class="col-md-3"><input type="text" class="form-control plazo1" value="" disabled></div>
        </div>
    </div>
</div>
<input id="NameFather" type="hidden" value="{% if NameFather %}{{ NameFather }}{% endif %}">
<script src="{{ asset('js/calculoRiesgo.js') }}"></script>
