{% for cuenta in cuentas %}
    <li>
        <a href="{{path('transacciones', {'idcuenta': cuenta.id}) }}">
            <span class="btn btn-xs glyphicon {% if cuenta.icon %}{{ cuenta.icon }}{% else %}btn-default glyphicon-usd{% endif %}"></span> {{ cuenta.nombre }}
        </a>
    </li>
{% endfor %}
