{% if modulo is defined %}
    {% set path_dinamico = 'FC' ~ modulo|capitalize ~'Bundle::modulo_' ~ modulo ~ '.html.twig' %}
{% elseif app.request.get('modulo') %}
    {% set modulo = app.request.get('modulo') %}
    {% set path_dinamico = 'FC' ~ modulo|capitalize ~'Bundle::modulo_' ~ modulo ~ '.html.twig' %}
{% else %}
    {% set bundle_name = app.request.attributes.get('_controller') | split('\\') %}
    {% set twig_name = app.request.getPathInfo | split('/') %}

    {% set path_dinamico = 'FC' ~ bundle_name.1 ~'::modulo_' ~ twig_name.1 ~ '.html.twig' %}
{% endif %}

{% extends path_dinamico %}

{%block titulo%}
    {{Title}}
{%endblock%}

{% block controls %}
    {% if Parameters.FormAction is defined %}
        <button {% if Parameters.FormAction.Security==false %}disabled{% endif %} class="{{ Parameters.FormAction.StyleClass }}" form="MaestrosSimplesForm">
            <span class="glyphicon {{ Parameters.FormAction.Icon }}" alt="{{ Parameters.FormAction.Caption }}"></span>
            {{ Parameters.FormAction.Caption }}
        </button>
    {% endif %}
    {% if Parameters.addActions is defined %}
        {% for Button in Parameters.addActions %}
            <a {% if Button.Security==false %}disabled{% endif %} class="{{ Button.StyleClass }}" {% if Button.CancelButton==true %}onclick="window.history.back()"{% else %}href="{{ path(Button.Path, {'tableName': tableName, 'modulo': modulo, 'moduloAlias': modulo}) }} }}"{% endif %}>
                <span class="glyphicon {{ Button.Icon }}" alt="{{ Button.Caption }}"></span>
                {{ Button.Caption }}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body2 %}
    <div class="alert alert-info">
        <div class="row">
            <form class="form-search" id="MaestrosSimplesForm" enctype="multipart/form-data" action="{% if Parameters.FormAction is defined %}{{ Parameters.FormAction.Path }}{% endif %}" method="post">
                <input type="hidden" name="modulo" value="{{ modulo }}">
                {% if RutaRetorno is defined %}
                    <input type="hidden" name="RutaRetorno" value="{{ RutaRetorno }}">
                {% endif %}

                {% if Parameters.Fields is defined %}
                    <div class="searchSet col-md-12">
                    {% for index, Field in Parameters.Fields %}
                        {% if Field.Visible %}
                            {% if (Field.ListValues is defined) and (Field.ListValues != '') %}
                                <label class="control-label">{{ Field.Caption }}</label>
                                <select
                                    name="{{ Field.Name }}" class="form-control"
                                    {% if Field.Required==true %}required{% endif %}
                                    {% if index == 0 %}autofocus{% endif %}>
                                    <option value="">{{ Field.PlaceHolder }}</option>
                                    {% for Item in Field.ListValues %}
                                        <option
                                                {% if Field.Value == Item.Id %} selected {% endif %}
                                                value="{{ Item.Id }}">{{ Item.Des }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftFile') %}
                                <label class="control-label">{{ Field.Caption }}</label>
                                <input type="hidden" name="{{ Field.Name }}_Old" id="{{ Field.Name }}_Old" value="{{ Field.Value }}" />
                                <input type="hidden" name="{{ Field.Name }}_Delete" id="{{ Field.Name }}_Delete" value="0" />
                                <div class="row marg-top">
                                    <div class="col-md-4" style="height: 240px; width: 240px;">
                                        <div class="text-center">
                                            <img name="{{ Field.Name }}_Img" id="{{ Field.Name }}_Img"  class="img-rounded" style="width:100%;height:inherit;" src="{% if Field.Value %}{{ asset(Field.FilePath ~ '/' ~ Field.Value) }}{% endif %}" />
                                            <div class="btn-gal-without-div btn btn-group pull-right">
                                                <a id="Add{{ Field.Name }}_Button" class="btn btn-success btn-xs" title="Subir Archivo" style="min-width: 30px;"><i class="glyphicon glyphicon-upload"></i></a>
                                                <a id="Delete{{ Field.Name }}_Button" class="btn btn-danger btn-xs" title="Borrar Archivo" style="min-width: 30px;"><i class="glyphicon glyphicon-remove-circle"></i></a>
                                            </div>
                                            <div style='height: 0px;width:0px; overflow:hidden;'>
                                                <input type="file" name="{{ Field.Name }}" id="{{ Field.Name }}" class="btn btn-default" accept="image/x-png, image/jpeg"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <label class="control-label">{{ Field.Caption }}</label>
                                <input
                                name="{{ Field.Name }}"
                                class="form-control"
                                {% if Field.PrimaryKey==true and Field.AutoIncrement==true %}
                                    type="text"
                                {% else %}
                                    {% if Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftString') %}
                                        type="text"
                                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftEmail') %}
                                        type="email"
                                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftDate') %}
                                        type="date"
                                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftTime') %}
                                        type="time"
                                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftDateTime') %}
                                        type="datetime"
                                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftInteger') %}
                                        type="number" step="1" max="{% for i in 1..Field.MaxLength %}9{% endfor %}"
                                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftBigInteger') %}
                                        type="number" step="1" max="{% for i in 1..Field.MaxLength %}9{% endfor %}"
                                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftFloat') %}
                                        type="number" step="0.01"
                                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftBoolean') %}
                                        type="checkbox"
                                    {% else  %}
                                        type="text"
                                    {% endif %}
                                {% endif %}
                                {% if Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftBoolean') %}
                                    value="1"
                                    {% if Field.Value %}checked{% endif %}
                                {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftDate') %}
                                    value="{{ Field.Value|date('Y-m-d') }}"
                                {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftDateTime') %}
                                    value="{{ Field.Value|date('Y-m-d H:i') }}"
                                {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftTime') %}
                                    value="{{ Field.Value|date('H:i') }}"
                                {% else %}
                                    value="{{ Field.Value }}"
                                    placeholder="{{ Field.PlaceHolder }}"
                                    maxlength="{{ Field.MaxLength }}"
                                {% endif %}
                                id="{{ Field.Name }}"
                                {% if Field.PrimaryKey==true and Field.AutoIncrement==true %}readonly{% endif %}
                                {% if Field.Required==true %}required{% endif %}
                                {% if index == 0 %}autofocus{% endif %}
                                />
                            {% endif %}
                            <br>
                        {% else %}
                            <input
                                    name="{{ Field.Name }}"
                                    class="form-control"
                                    type="hidden"
                                    value="{{ Field.Value }}"
                                    placeholder="{{ Field.PlaceHolder }}"
                                    maxlength="{{ Field.MaxLength }}"
                            />
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
             {% if Parameters.Fields is defined %}
                {% for Field in Parameters.Fields %}
                    {% if Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftDate') %}
                        $('#{{ Field.Name }}').datepicker({format: 'yyyy-mm-dd'});
                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftDateTime') %}
                        $('#{{ Field.Name }}').datetimepicker({
                            dateFormat: 'yyyy-mm-dd',
                            timeFormat: 'hh:mm'
                        });
                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftTime') %}
                        $('#{{ Field.Name }}').datetimepicker({
                            dateFormat: '',
                            timeFormat: 'hh:mm'
                        });
                    {% elseif Field.Type == constant('FC\\MainBundle\\Constantes\\MaestrosSimplesFieldTypeEnum::ftFile') %}
                        $('#Add{{ Field.Name }}_Button').click(function() {
                            $('#{{ Field.Name }}').click();
                        });

                        $('#Delete{{ Field.Name }}_Button').click(function() {
                            $('#{{ Field.Name }}_Delete').attr('value', '1');
                            $('#{{ Field.Name }}_Img').attr('src', '');
                        });

                        $('#{{ Field.Name }}').change(function(e) {
                            var filetype =document.getElementById('{{ Field.Name }}').files[0].type;
                            if (filetype == 'image/png' || filetype == 'image/x-png' || filetype == 'image/jpg' || filetype == 'image/jpeg') {
                                document.getElementById("{{ Field.Name }}_Delete").value= '1';
                                var oFReader = new FileReader();
                                oFReader.readAsDataURL(document.getElementById('{{ Field.Name }}').files[0]);
                                oFReader.onload = function (oFREvent) {
                                    document.getElementById('{{ Field.Name }}_Img').src = oFREvent.target.result;
                                };
                            }
                        });
                    {% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}

{% block stylesheets2 %}
    <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css">
{% endblock %}

{% block javascripts2 %}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
{% endblock%}
